.esummit-landing-faq-update-question {
  letter-spacing: 0.02em;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}
.land_faq {
  background-color: #070f12;
}

.faq-parent{
  padding: 6rem 14%;

}
.faq_unit {
  border-bottom: 2px solid rgba(255, 255, 255, 0.38);
  margin-bottom: 1rem;
  font-family: Proxima-nova-regular !important;
}
@media (max-width: 1000px) {
  .faq_unit {
    border-bottom: 2px solid rgba(255, 255, 255, 0.38);
  }
}
.faq_unit .answer {
  display: none;
  padding: 1.25rem 2.5rem;
  line-height: 128%;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: #b2b2b2;
  background: #070f12;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .faq_unit .answer {
    line-height: normal;
    font-size: 0.875rem;
    padding: 0rem 0.625rem 1.25rem 0.625rem;
  }
}
@media (min-width: 1000px) and (max-width: 1600px) {
  .faq_unit .answer {
    font-size: 1.125rem;
  }
}
.faq_unit .question {
  cursor: pointer;
  line-height: normal;
  font-size: 24px;
  padding: 1.25rem 2.5rem;
  color: #4f4f4f;
}
@media (max-width: 1000px) {
  .faq_unit .question {
    line-height: normal;
    font-size: 16px;
    padding: 20px 45px 20px 10px;
    color: #4f4f4f;
    position: relative;
  }
}
@media (min-width: 1000px) and (max-width: 1600px) {
  .faq_unit .question {
    font-size: 1.5rem;
  }
}
.faq_unit .question img {
  float: right;
}
@media (max-width: 1000px) {
  .faq_unit .question img {
    height: 20px;
    position: absolute;
    right: 0px;
  }
}
.faq_unit .question .crox {
  display: none;
}
