.loader{
  display: grid;
  align-items: center;
  justify-items: center;
  height:100vh;
  width:100vw;
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  z-index: 30000;
  background-color:rgb(29,77,98);
  .mobile{
    display: none;
  }

   
   
}

@media (max-width:1000px){
  .mobile{
    display: block !important;
    
    img{
    width: 100%;
    height:100%;
    }

  }

  .pc_loader{
    display: none;
  }
}