.home-section-intro-container {
  @include section();

  @include desktop-320-767 {
    background-position: 50% 5vh;
    background-size: 120vw;
    justify-content: flex-end;
    min-height: 76vh !important;
  }

  height: 100vh;
  position: relative;
  background: url('../../assets/wave-logo.png') no-repeat center;
  background-size: 95vh;
  margin-top: $gutterWidth * 2;

  .home-section-intro {
    @include desktop-320-767 {
      margin: 0;
      height: $gutterWidth * 16;

    }

    .home-section-background-disruption {
      @include desktop-320-767 {

        height: $gutterWidth*3;

      }
    }

    .home-section-intro-ecellLogo {
      @include desktop-320-767 {

        height: $gutterWidth*2.8;
      }
    }

    .home-section-intro-content {
      @include desktop-320-767 {
        height: $gutterWidth * 10;
      }

      @include display-column();
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

    @include display-column();
    align-items: center;
    justify-content: space-between;
    height: $gutterWidth * 18;
    margin-bottom: $gutterWidth * 2;
  }

  .home-section-paragraph {
    @include desktop-320-767 {

      font-size: $normalFontSize*0.6;
      line-height: $normalLineHeight*0.6;
    }

    font-size: $normalFontSize;
    line-height: $normalLineHeight;
    text-align: center;
    font-weight: $heading;
    color: #ffffff;
    letter-spacing: $letterSpacing;
  }

  .home-section-intro-link {
    margin-top: $gutterWidth;

    .home-section-intro-button {
      @include desktop-0-1281() {
        @include btn-standard-outline();
        padding: 0 $gutterWidth;
        font-weight: 600;
        background-color: $primaryBackgroundColor;
      }

      text-transform: uppercase;
      @include btn-standard();
      width: $gutterWidth * 6;
    }
  }
}

.home-section-about-container {
  @include section();
  position: relative;
  background-size: cover;

  @include desktop-320-767 {
    padding: 1.75rem 10vw;
  }

  .home-section-content-container {
    @include display-column();
    justify-content: center;
    align-items: center;
    margin: $gutterWidth 0;
    z-index: 2;

    .section-paragraph {
      @include desktop-0-1281() {
        margin: 0;
      }

      margin: $gutterWidth;
    }
  }
}

.home-section-event-container {
  @include section();

  .section-image-heading-container {
    justify-content: flex-start;
    margin-left: 0.9375vw;

    .section-image-heading {
      @include desktop-320-767 {
        padding-left: 0
      }

      margin-left: 0;
    }

    .section-image-heading-background {
      left: 0;
    }
  }

  .home-section-event-card-container {
    display: grid;
    width: 100%;
    margin: $gutterWidth 0;

    @include desktop-1281-1920() {
      grid-template-columns: 33.33% 33.33% 33.33%;
    }

    @include desktop-1025-1280 {
      grid-template-columns: 33.33% 33.33% 33.33%;
    }

    @include desktop-768-1024 {
      grid-template-columns: 50% 50%;
    }

    @include desktop-320-767 {
      @include display-column();
      align-items: center;
    }

    .home-section-event-card {
      @include display-column();
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: $cardWidth;
      border-radius: 4px;
      height: $cardHeight;
      overflow: hidden;
      margin: 0 0.9375vw $gutterWidth 0.9375vw;

      .home-section-event-card-link {
        position: absolute;
        width: $cardWidth;
        height: $cardHeight;
        border-radius: 4px;
        z-index: 3;

        &:hover {
          ~.home-section-event-card-background {
            transform: scale(1.2);

          }
        }
      }

      .home-section-event-card-background-tint {
        position: absolute;
        z-index: 1;
        width: $cardWidth;
        height: $cardHeight;
        background: linear-gradient(180deg, #000000 -15.17%, rgba(0, 0, 0, 0.3) 132.69%);
        mix-blend-mode: multiply;
        opacity: 0.4;
        border-radius: 4px;
      }

      .home-section-event-card-background {
        position: absolute;
        width: $cardWidth;
        border-radius: 4px;
        height: $cardHeight;
        z-index: 0;
        transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        background-color: $backgroundImageColor;

      }

      .home-section-event-card-heading {
        z-index: 2;
        font-style: normal;
        font-weight: bold;
        font-size: $headerFontSize * 0.8;
        line-height: $headerLineHeight * 0.8;
        text-align: center;
        color: #ffffff;
        margin-top: $gutterWidth;

        &.coming-soon {
          text-transform: uppercase;
          margin-bottom: $gutterWidth;
        }
      }
    }
  }
}

.speakers-section-container {
  @include section();

  @include desktop-320-767() {
    min-height: fit-content;

  }

  @include desktop-768-1024 {
    padding: $gutterWidth * 2 $gutterWidth * 3;
  }

  @include desktop-1025-1280 {
    padding: $gutterWidth * 2 $gutterWidth * 6;
  }

  .section-image-heading-container {
    justify-content: space-between;
    margin-left: 0.9375vw;

    .section-image-heading {
      padding-left: 0;
      margin-left: 0;
    }
  }


  .speakers-section-card-container {
    z-index: 2;
    @include display-row();
    width: 100%;
    margin: $gutterWidth 0;
    white-space: nowrap;
    overflow-x: scroll;

    @include desktop-1025-1280 {
      grid-template-columns: 33.33% 33.33% 33.33%;
    }

    @include desktop-768-1024 {
      grid-template-columns: 50% 50%;
    }

    @include desktop-320-767 {
      @include display-column();
      align-items: center;
      overflow-x: hidden;
      margin: 0;
    }

    .speakers-section-card {
      @include display-column();
      justify-content: center;
      align-items: center;
      margin: $gutterWidth * 2;
      width: $cardWidth;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      @include desktop-320-767 {
        @include display-column();
        width: 100%;
        justify-content: flex-start;
        padding: 0 $gutterWidth;

        &:first-child {
          margin: $gutterWidth;
        }

        &:not(:first-child) {
          display: none;
        }
      }

      .speakers-section-card-image {
        @include desktop-320-767 {
          margin: 0;
        }

        object-fit: cover;
        border-radius: 50%;
        width: $cardWidth * 0.6;
        background-color: $secondaryBackgroundColor;
        margin-bottom: $gutterWidth * 0.8;
      }

      .speakers-section-card-content {
        @include desktop-320-767 {
          @include display-column();
          width: 100%;
          padding: 0 $gutterWidth;
          margin: $gutterWidth 0;
        }

        .speakers-section-card-heading {
          @include desktop-320-767 {
            text-align: center;
            font-size: $normalFontSize;
          }

          font-weight: bold;
          font-size: $normalFontSize * 1.2;
          line-height: $normalLineHeight;
          text-align: center;
          color: $whiteText;
        }

        .speakers-section-card-subheading {
          @include desktop-320-767 {
            align-items: center;
            font-size: 1rem;
          }

          font-size: $normalFontSize * 0.8;
          line-height: $normalLineHeight;
          text-align: center;
          color: $whiteText;
        }
      }
    }
  }
}

.sponsors-section-container {
  @include section();

  @include desktop-320-767() {
    min-height: fit-content;

  }

  @include desktop-768-1024 {
    padding: $gutterWidth * 2 $gutterWidth * 3;
  }

  @include desktop-1025-1280 {
    padding: $gutterWidth * 2 $gutterWidth * 6;
  }

  .section-image-heading-container {
    justify-content: space-between;
    margin-left: 0.9375vw;

    .section-image-heading {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .sponsors-section-card-container {
    z-index: 2;
    @include display-row();
    width: 100%;
    margin: $gutterWidth 0;
    white-space: nowrap;
    overflow-x: scroll;

    @include desktop-1025-1280 {
      grid-template-columns: 33.33% 33.33% 33.33%;
    }

    @include desktop-768-1024 {
      grid-template-columns: 50% 50%;
    }

    @include desktop-320-767 {
      @include display-column();
      align-items: center;
      overflow-x: hidden;
      margin: 0;
    }

    .sponsors-section-card {
      @include display-column();
      justify-content: center;
      align-items: center;
      margin: $gutterWidth * 2.76;
      width: $cardWidth;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      @include desktop-320-767 {
        @include display-column();
        width: 100%;
        justify-content: flex-start;
        padding: 0 $gutterWidth;

        &:first-child {
          margin: $gutterWidth;
        }

        &:not(:first-child) {
          display: none;
        }
      }

      .sponsors-section-card-image {
        @include desktop-320-767 {
          margin: 0;
        }

        object-fit: contain;
        border: 2px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
        border-radius: 4px;
        width: $cardWidth * 0.6;
        height: $cardWidth * 0.6;
        background-color: white;
        margin-bottom: $gutterWidth * 0.8;
      }

      .sponsors-section-card-content {
        @include desktop-320-767 {
          @include display-column();
          width: 100%;
          padding: 0 $gutterWidth;
          margin: $gutterWidth 0;
        }

        .sponsors-section-card-heading {
          @include desktop-320-767 {
            text-align: center;
            font-size: $normalFontSize;
          }

          font-weight: bold;
          font-size: $normalFontSize * 1.2;
          line-height: $normalLineHeight;
          text-align: center;
          color: $whiteText;
        }

        .sponsors-section-card-subheading {
          @include desktop-320-767 {
            align-items: center;
            font-size: 1rem;
          }

          font-size: $normalFontSize * 0.8;
          line-height: $normalLineHeight;
          text-align: center;
          color: $whiteText;
        }
      }
    }
  }
}

.ca-section-intro-container {
  @include section();

  @include desktop-320-767 {
    padding: $gutterWidth 0;
    min-height: 80vh;
    justify-content: unset;
  }

  @include desktop-768-1024 {
    padding: $gutterWidth * 2 0;
  }

  @include desktop-1025-1400 {
    padding: $gutterWidth * 2 0;
  }

  position: relative;
  height: 100vh;
  background: url('../../assets/ca-intro.png') no-repeat center;
  background-size: cover;
  margin-top: $gutterWidth * 2;
  justify-content: space-between;
  padding: $gutterWidth * 8 0;

  .ca-section-intro-background-tint {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: inherit;
    top: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.3) 149.7%);
  }

  .ca-section-intro-flex-column {
    display: flex;
    flex-direction: column;

    .ca-section-intro-heading {
      @include desktop-320-767 {
        height: $gutterWidth * 0.8;
        margin: $gutterWidth * 2;
      }

      z-index: 2;
      height: $gutterWidth * 1.6;
    }

    .ca-section-intro-paragraph {
      margin: 2rem 0;

      @include desktop-320-767 {
        padding: 0 $gutterWidth;
        font-size: $normalFontSize;
        line-height: $normalLineHeight;
      }

      @include desktop-768-1024 {
        padding: 0 $gutterWidth * 2;
      }

      @include desktop-1025-1400 {
        font-size: 1.4rem;
        padding: 0 $gutterWidth * 2;
        line-height: 2.8rem;
      }

      z-index: 2;
      color: #ffffff;
      font-size: $normalFontSize * 1.6;
      font-style: normal;
      font-weight: normal;
      line-height: $normalLineHeight * 1.6;
      text-align: center;
      padding: 0 $gutterWidth * 8;
    }

    .ca-section-intro-link {
      z-index: 1;
      display: flex;
      justify-content: center;
      margin: 2rem 0;

      @include desktop-320-767 {
        margin: $gutterWidth * 2;
      }

      .ca-section-intro-button {
        @include btn-standard();
        width: $gutterWidth * 6;
      }
    }
  }
}

.ca-section-about-container {
  @include section();
  position: relative;
  background: url('../../assets/wave-ripple.svg') no-repeat center;
  background-size: cover;

  .ca-section-content-container {
    @include desktop-320-767 {
      padding: 0 $gutterWidth * 2;
    }

    @include desktop-768-1024 {
      padding: 0 $gutterWidth * 2;
    }

    @include desktop-1025-1400 {
      padding: 0 $gutterWidth * 2;
      font-size: 1.4rem;
      margin: 3rem 0;
    }

    @include display-column();
    margin: $gutterWidth * 2 0;
    padding: 0 $gutterWidth * 12;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .section-image-heading {
      margin-left: auto;
      margin-right: auto;
    }

    .ca-section-paragraph {
      @include desktop-320-767 {
        font-size: $normalFontSize;
        line-height: $normalLineHeight;
      }

      @include desktop-1025-1400 {
        font-size: 1.4rem;
        margin: 2rem 0;
      }

      font-style: normal;
      font-weight: normal;
      font-size: $normalFontSize * 1.4;
      line-height: $normalLineHeight * 1.2;
      color: #ffffff;
    }

    .ca-section-paragraph-small {
      @include desktop-320-767 {
        font-size: $normalFontSize;
        line-height: $normalLineHeight;
      }

      @include desktop-1025-1400 {
        font-size: 1.4rem;
      }

      font-style: normal;
      font-weight: normal;
      font-size: $normalFontSize * 1.4;
      line-height: $normalLineHeight * 1.2;
      color: #ffffff;
    }
  }
}

.testemonial-section-container {

  .ant-carousel {
    .slick-slide {
      @include desktop-320-767 {
        height: 64rem !important;
      }

      .testemonial-card {
        @include display-column();
        background-color: $cardBackgroundColor;
        border-radius: 4px;
        height: fit-content;
        padding: $gutterWidth * 4 8.23vw;
        position: relative;
        align-items: center;

        .testemonial-card-image {
          width: 8rem;
          position: absolute;
          height: 8rem;
          top: -4rem;
          border-radius: 50%;
        }

        .testemonial-card-heading {
          font-size: $normalFontSize;
          font-weight: 600;
          color: #ffffffde;
          margin: $gutterWidth * 0.2;
        }

        .testemonial-card-subheading {
          font-size: $normalFontSize * 0.8;
          color: #ffffffde;
          margin: $gutterWidth * 0.1;
        }

        .testemonial-card-horizontal-line {
          @include desktop-320-767() {
            width: 60%;

          }

          border: 1px solid $primaryColor;
          margin: $gutterWidth 0;
          width: 100%;
        }

        .testemonial-card-content {
          color: rgba(255, 255, 255, 0.6);
          margin: $gutterWidth 0;
          font-size: $normalFontSize * 0.9;
          line-height: $normalLineHeight * 0.8;
        }
      }

      @include desktop-320-767() {
        padding: $gutterWidth*4 $gutterWidth;
      }

      @include display-column();
      justify-content: center;
      align-items: center;
      text-align: center !important;
      height: 48rem !important;
      overflow: hidden !important;
      padding: $gutterWidth * 4 17.5vw;
    }

    .slick-dots {
      li {
        @include desktop-320-767 {
          margin: 0 $gutterWidth;

        }

        margin: 0 2.25rem;

        button {
          width: 12px !important;
          height: 12px !important;
          border-radius: 50%;
        }
      }
    }
  }
}

.faq-section-container {
  @include section();
  justify-content: unset;

  .section-image-heading-container {
    justify-content: flex-start;
    margin-left: 0.9375vw;

    .section-image-heading {
      padding-left: 0;
      margin-left: 0;
    }
  }

  .faq-section-content-container {
    @include display-column();
    justify-content: flex-start;
    width: 100%;
    margin: $gutterWidth 0;

    .section-paragraph {
      text-align: left;
      color: #ffffff;
      padding: 0;
      margin-bottom: $gutterWidth;
    }

    .question-container {
      position: relative;
      border-bottom: 3px solid rgba(255, 255, 255, 0.38);

      &:first-child {
        border-top: 3px solid rgba(255, 255, 255, 0.38);
      }

      .question-items-checkbox {
        @include desktop-0-1281() {
          height: $gutterWidth * 3;
        }

        position: absolute;
        opacity: 0 !important;
        margin: 0;
        padding: 0;
        top: 0;
        pointer-events: all;
        z-index: 10;
        display: block;
        width: 100%;
        height: $gutterWidth * 2.4;
        cursor: pointer;

        &:checked {
          +.question-items-container {
            padding-bottom: $gutterWidth;

            .question-items-container-question {
              color: #fff;

              .plus-container {
                .dash {
                  &:first-child {
                    transform: rotate(135deg);
                  }

                  &:last-child {
                    transform: rotate(45deg);
                  }
                }
              }
            }

            >.question-items-answer {
              color: #fff;

              @include desktop-0-1281() {
                height: 60vh;
              }

              opacity: 1;
              height: 30vh;
            }
          }
        }
      }

      .question-items-container {
        @include display-column();
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        .question-items-container-question {
          @include desktop-0-1281() {
            font-size: $normalFontSize;
            padding-left: 0;
          }

          @include display-row();
          padding: $gutterWidth * 0.8 0;
          justify-content: space-between;
          align-items: center;
          color: rgba(255, 255, 255, 0.38);
          font-weight: bold;
          transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          font-size: $normalFontSize;
          padding-left: $gutterWidth;

          .plus-container {
            width: 20px;
            height: 21px;
            @include display-column();
            justify-content: center;
            align-items: center;
            position: relative;

            .dash {
              border: 0;
              margin: 0;
              width: 20px;
              height: 3px;
              background: rgba(255, 255, 255, 0.38);
              transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

              &:first-child {
                position: absolute;
                transform: rotate(90deg);
                left: 0;
              }
            }
          }
        }

        .question-items-answer {
          @include desktop-0-1281() {
            font-size: $normalFontSize;
            padding-left: 0;
            line-height: $normalLineHeight;
          }

          font-size: $normalFontSize;
          height: 0;
          transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          padding-left: $gutterWidth;
        }
      }
    }
  }
}

.footer-section-container {
  @include desktop-768-1024 {
    @include display-column();
    min-height: fit-content;
  }

  @include desktop-320-767 {
    @include display-column();
    min-height: fit-content;
  }

  z-index: 2;
  @include section();
  @include display-row();
  justify-content: space-between;
  padding: 6rem 6%;
  background-color: $primaryBackgroundColor;
  align-items: flex-start;

  .footer-section-logo {
    @include desktop-320-767 {
      margin-bottom: $gutterWidth * 2;
      width: $gutterWidth * 4;
    }

    @include desktop-768-1024 {
      margin-bottom: $gutterWidth * 2;
    }

    @include desktop-320-767 {
      margin-bottom: $gutterWidth * 2;
    }

    width: $gutterWidth * 7;
  }

  .footer-section-child-one {
    width: 25%;
  }

  .footer-section-child-two {
    width: 30%;
  }

  .footer-section-child-three {
    width: 35%;
  }

  .footer-section-contact-container {
    @include desktop-320-767 {
      @include display-row();
      width: 100%;
      min-height: fit-content;
      justify-content: unset;
      height: fit-content;
      margin: 0 0 $gutterWidth 0;
      font-size: $normalFontSize * 0.8;
    }

    @include desktop-768-1024 {
      @include display-row();
      width: 100%;
      min-height: fit-content;
      justify-content: unset;
      height: fit-content;
      margin: 0 0 $gutterWidth 0;
    }

    @include desktop-320-767 {
      @include display-row();
      width: 100%;
      min-height: fit-content;
      justify-content: unset;
      margin: 0 0 $gutterWidth 0;
      height: fit-content;
    }

    @include display-column();
    justify-content: space-between;
    font-size: $normalFontSize;
    line-height: $normalLineHeight;
    text-align: left;
    width: fit-content;
    margin: 0;

    .footer-section-contact-heading {
      @include desktop-320-767 {
        width: 30%;
      }

      @include desktop-768-1024 {
        width: 30%;
      }

      @include desktop-320-767 {
        width: 30%;
      }

      font-weight: bold;
      color: $primaryColor;
      margin: 1rem 0 0 0;
    }

    .footer-section-contact-subheading {
      @include desktop-320-767 {}

      font-weight: normal;
      color: $whiteText;

      .footer-section-contact-link {
        margin: 0 $gutterWidth * 0.2;

        .footer-section-contact-logo {
          height: $gutterWidth * 0.8;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.section-image-heading-container {
  @include display-row();
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: $gutterWidth * 4;

  .section-image-heading {
    @include desktop-320-767 {
      font-size: $headerFontSize;
    }

    font-family: $generalFontFamily !important;
    font-weight: 900;
    text-transform: uppercase;
    font-size: $headerFontSize * 1.4;
    color: #ffffff;
    padding: $gutterWidth;
  }


  .section-image-heading-background {
    @include desktop-320-767 {
      height: $gutterWidth*2;
      top: 16px;

    }

    position: absolute;
    top: 0;
    height: $gutterWidth * 4;
  }

}

.section-paragraph {
  padding: 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: $normalFontSize;
  line-height: $normalLineHeight;
  text-align: center;
  color: $whiteText;
}

.section-button {
  @include btn-standard-outline(1);

  button {
    padding: 0 $gutterWidth;
    text-transform: uppercase;
    font-weight: 600;
    background-color: inherit;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.section-horizontal-navigate-container {
  @include desktop-320-767 {
    display: none;
  }

  .section-horizontal-navigate-arrow {
    color: white;
    font-size: $normalFontSize;
    margin: 0 $gutterWidth;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.arrow-left {
      transform: rotate(180deg);
    }

    &:hover {
      background-color: $primaryColor;
    }
  }
}
