@media(min-width:700px){

  .ca-section-about-container {
    padding: 0 0 14rem 14rem !important;
    align-items: flex-start !important;
  
  }

}
.ca-section-paragraph,
.ca-section-paragraph-small {
  margin-top: 15px;
}
.caabout {
  text-align: left !important;
  margin-top: 1.3%;
  width: 80%;
}
#perk-container,
#role-container {
  justify-content: flex-start !important;
  margin-top: 5%;
  float: left;
}
#PERKS-CA {
  width: 80%;
}
