.ca-section-intro-paragraph {
  text-align: left !important;
}
.ca-title {
  color: white;
  z-index: 2;
  font-size: 34px;
  font-weight: 600;
  margin-left: 14rem;
}
.ca-section-intro-container {
  background-image: url(../../../assets/ca-intro1.png) !important;
}
