.perk-board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  /* justify-content: space-evenly; */
}
.perk-parent {
  padding: 10rem 17% 0 17%;
  background: #030d0f;
}
.perk-title {
  font-family: 'Poppins-regular';
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
  white-space: nowrap;
  font-size: 22px;
  line-height: 36px;
  /* text-align: center; */
  color: rgba(255, 255, 255, 0.87);
  /* margin-top: 30px; */
}

.single-perk {
  /* margin: 3rem 2rem; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}

.perk-about {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  /* identical to box height, or 28px */
  /* width: 300px; */
  /* text-align: center; */
  color: rgba(255, 255, 255, 0.6);
}
.perk-head {
  font-family: 'Poppins-Bold' !important;
  font-style: normal;
  font-weight: bold;
  width: 99px;
  height: 40px;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.87);
  font-size: 2rem;
  line-height: 3rem;
}
@media (max-width: 700px) {
  .perk-head {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .single-perk {
    margin-left: 0;
    margin-right: 0;
  }
  .perk-head {
    font-size: 1.5rem;
  }
  .perk-board {
    margin: 0;
  }
  .perk-title{
    line-height: 1.3125rem !important;
    font-size: 0.875rem !important;
    letter-spacing: 0.1em !important;
  }
  .perk-about{
    line-height: 1.3125rem !important;
    font-size: 0.875rem !important;
    letter-spacing: 0.1em !important;
  }
  .single-perk{
    flex-direction: column;
  }
  .perk-parent {
    padding: 6rem 14%;
  }
}