@mixin mobile {
    @media(max-width: 1000px) {
        @content;
    }

}



.speakers {
    padding: 80px 10vw;
    background: #1A4D66;

    @include mobile {
        padding: 36px;
    }




    .speak {
        line-height: 47px;
        font-size: 24px;
        letter-spacing: 0.1em;
        color: #FFFFFF;

        @include mobile {
            line-height: 24px;
            font-size: 16px;
            letter-spacing: 0.1em;

            color: #FFFFFF;

        }

    }

    .text {
        line-height: 441px;
        font-size: 24px;
        letter-spacing: 0.1em;
        padding-top: 45px;
        color: #E5E5E5;
        padding-bottom: 96px;

        @include mobile {

            line-height: 21px;
            font-size: 16px;
            letter-spacing: 0.04em;
            padding-bottom: 18px;
            padding-top: 18px;
            color: #D8D8D8;

        }
    }

    .img_holder {
        height:12.4vw;
        width: 100%;
     

        img{
            width:100%;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 5%;
        }

        @include mobile{
            height:230px;
            width:230px;
        }
    }

    .name {
        line-height: 30px;
        font-size: 24px;
        letter-spacing: 0.1em;
        text-align: center;
        margin-top: 80px;
        color: #138AD6;

        @include mobile {
            line-height: 30px;
            font-size: 20px;
            letter-spacing: 0.1em;

            color: #138AD6;

        }

    }

    .designation {
        line-height: 29px;
        font-size: 20px;
        letter-spacing: 0.1em;
        text-align: center;
        color: #FFFFFF;
        width:100%;

        @include mobile {
            line-height: 24px;
            font-size: 16px;
            letter-spacing: 0.1em;

        }
    }

    .speakers_array {
        padding-top: 72px;
        display: grid;
        grid-template-columns: repeat(4,22%);
        grid-column-gap: 3vw;
        grid-row-gap: calc(1em + 4vh);

        @include mobile {
            grid-template-columns: 90%;
            justify-items: center;
        }
    }
}