
.profiletype_outer {
  width: 100%;
  height: fit-content;
  min-height: 70vh;
  background: #010C0F;
  padding: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: radial-gradient(55.86% 99.31% at 55.86% 50%, rgba(0, 0, 0, 0) 0%, #030D0F 100%);
  background: url('../../../../assets/register-back.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.profiletype-left {
  width: 60%;
  padding: 0;

}


.profiletype-left-subHeading {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
}

.profiletype-left-heading {
  font-family: 'Poppins';
  color: rgba(255, 255, 255, 0.87);
  font-weight: bold;
  font-size: 4rem;
}


.profiletype_main {
  /*background: rgba();*/
  width: 40%;
  height: fit-content;
  background: #070F12;
  border-radius: 5px;
  font-family: 'Poppins';
  padding: 3% 0;
}

.profiletype_heading {
  background: #070F12;
  height: 54px;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
  padding-top: 1.5rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.87);
}
.profiletype_list_selection {
  font-family: 'Poppins-Regular';
  padding: 3rem;

}
.profiletype_container {
  font-family: 'Poppins-Regular';
  display: flex;
  cursor: pointer;
  font-size: 14.12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 0px;
}
.profiletype_button {
  width: 8rem;
  height: 3.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5%;
  margin-left: 40%;
}
.profiletype_button > div {
  color: #ffffff !important;
}
/* Hide the browser's default radio button */
.profiletype_container input {
  position: relative;
  opacity: 0;
  flex-basis: 20px;
  cursor: pointer;
  /* padding-left: 0 px; */
}

/* Create a custom radio button */
.profiletype_checkmark {
  top: 0;
  left: 0;
  height: 11.42px;
  width: 11.42px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 15px;
}

/* On mouse-over, add a grey background color */
.profiletype_container:hover .profiletype_checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.profiletype_container input:checked ~ .profiletype_checkmark {
  border: 1px solid #41494b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.profiletype_checkmark:after {
  content: '';
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.profiletype_container input:checked ~ .profiletype_checkmark:after {
  display: block;
  top: 0;
  left: 0;
  height: 7.42px;
  width: 7.42px;
  border-radius: 50%;
  margin: 1px;
  position: relative;
  background: #41494b;

}

/* Style the indicator (dot/circle)
.profiletype_container .profiletype_checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #41494b;
} */
.profiletype_extra_info {
  display: none;
  position: relative;
  margin-left: 80px;
  color: #009994;
  font-size: 12px;
}

.profiletype_checkmark-value {
  font-size: 1.25rem;
}

.profiletype-left-heading {
  font-size: 3rem;
}

.profiletype_letus{
  font-family: Poppins-Regular;
font-style: normal;
font-weight: normal;
font-size: 1rem;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: rgba(255, 255, 255, 0.87);

}
@media only screen and (min-device-width: 320px) and (max-device-width: 780px) {
  .profiletype_outer {

    padding: 4rem;

  }
  .navbar_content {
    font-size: 20px;
  }
  .profiletype_main {
    /*height: fit-content;*/
    width: 100%;
    border-radius: 5px;
    font-family: 'Poppins';
  }
  .profiletype_list_selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .profiletype_container {
    /* width: 360px; */
    width: 100%;
  }
  .profiletype_extra_info {
    margin-left: 40px !important;
  }
  .profiletype_button {
    position: unset !important;
    margin: 20px 0 0 0 !important;
  }

  .profiletype-left-heading {
    text-align: center;
  }

  .profiletype-left-subHeading {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (min-device-width: 1800px) and (max-device-width: 2520px) {
  .profiletype_container {
    font-size: 20px;
  }
  .profiletype_heading {

    font-size: 20px;

  }
  .profiletype_letus{
    font-size: 14px;

  }
  .profiletype_checkmark{

    height: 16px;
    width: 16px;
    padding: 2px 0 0 2px;
  }
}
