
 
.caoffers-parent{

    color: black;
    position: absolute;
    top: 0;
    left: 18%;
    height: 100vh; 
    width: 82%;
}
.caoffers-earnedcoupons-rowparent1{

    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    margin-top: 5.92vh;
   


}
.caoffers-earnedcoupons-child{
    position: relative;
    height: 24.90vh;
    width: 30.27%; 
    margin-left: 2.24%;  
    margin-bottom: 3.148vh; 
    padding: 2.962vh;    
    background: #FFFFFF;
    
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}

.ca-offers-parent-heading1{

    margin-top: 3.33vh;
    margin-left: 2.24%;
    line-height: normal;
   
    color: rgba(130, 130, 130, 0.93);
}
.caoffers-line1 {
    flex-basis: 65vw;
    height: 0.3vh;
    background-color: #E0E0E0;
    /* position: absolute; */
    margin-top: -1.4vh;
    width: 83%;
    margin-left: 12vw;
}

.ca-offers-parent-heading2{

    margin-top: 3.33vh;
    margin-left: 2.24%;
    line-height: normal;
   
    color: rgba(130, 130, 130, 0.93);
}

.caoffers-earnedcoupons-child-heading{

    color: #5A5A5A;
    

}

.caoffers-earnedcoupons-child-description{

    line-height: normal;
    
    /* line-height: 1.4rem; */
    color: #4F4F4F;
    opacity: 0.58;
	 width: 16vw;
}

.caoffers-earnedcoupons-child-button{
position: absolute;
bottom: 2.962vh;
}
.caoffers-earnedcoupons-child-button button{
    font-size: 11.37px;
    background: #F39423;
    border-radius: 4.28px;
    text-align: center;
    color: #FFFFFF;
    height: 3.70vh;
    width: 7.81vw;
    border: none;
}

#caofferb01{
    margin-left: 1vw;
}

.caoffersparent-font{
    font-size: 14.22px;
    font-family:"ProximaNova-Semibold" !important;
}

.caoffersheading-font{
    font-size: 22px;
    font-family:"ProximaNova-Semibold" !important;

}

.caoffersdecription-font{

    font-size: 14.22px;
   
}

.caoffers-earnedcoupons-invitelink{

    color: #2EA2F8;
    line-height: normal;
    opacity: 0.58;
    font-size: 17.04px;
    margin-top: 1vh;
}

.caoffers-earnedcoupons-child-description-sucess{
    line-height: normal;
    
    color: #4F4F4F;
    opacity: 0.58;
    width:100%;
}
@media (min-width: 1920px) and (max-width: 2560px){

.caoffersparent-font{
    font-size: 20px;
    font-family:"ProximaNova-Semibold" !important;
}

.caoffersheading-font{
    font-size: 31px;
    font-family:"ProximaNova-Semibold" !important;

}

.caoffersdecription-font{

    font-size: 20px;
   
}
.caoffers-earnedcoupons-child-button button{
    font-size: 16px;
   
}

.caoffers-earnedcoupons-invitelink{

    font-size: 24px;

}


}




