.capayment-parent{
    color: black;
    background-color: #F7F8F9;
    position: absolute;
    height: fit-content;
    top: 0;
    left: 18%;
    width: 82%;
    padding-bottom: 2vh;
    padding-left: 2vw;
    
}
.capayment-headerrow {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.capayment-header{
    font-family:"ProximaNova-Semibold" !important;
    color: rgba(130, 130, 130, 0.93);
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 14px;
    font-weight: 500;
}
.capayment-line1 {
    flex-basis: 61vw;
    height: 0.3vh;
    background-color: #E0E0E0;
    /* position:absolute; */
    margin-top: 3.4vh;
    width: 50%;
    margin-left: 1vw;
}
.capayment-paymentinfo{
    overflow: auto;
    background-color: white;
    margin-left: 1vw;
    margin-top: 5.925vh;
    height: fit-content;
    padding-bottom: 2.5vh;
    width: 70vw;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.08);
    border-radius: 6px;
}
.capayment-paymentstatus{
    
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin-top: 3.611vh;
}
.capayment-span{
    color: black;
    font-size: 20px;
    margin-left: 1.7vw;
    font-weight:500;
}
/* .capayment-registrationfee{
    margin-left: 5.625vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5.37vh;
    color: #8A8A8A;
} */
.capayment-accomodationfee{
    margin-left: 5.625vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.96vh;
    color: #8A8A8A;
}
.capayment-discountavailed{
    margin-left: 5.625vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.96vh;
    color: #8A8A8A;
}
.capayment-discountcoupon{
    margin-left: 5.625vw;

    margin-top: 2.96vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #8A8A8A;
}
.capayment-spaceaboutcolon{
    width: 30vw;
}
.capayment-space{
    width: 13vw;    


}
.capayment-toggleaccomodation{
    margin-left:4.5vw;
    background-color: white;
    border:1.5px solid #E2574C;
    color: #E2574C;
    width: 7.21vw;
}
.capayment-couponapply{
    color: #F39423;
    border: 1.5px solid #F39423;
    background-color: white;
    margin-left:5.5vw;
    width: 7.21vw;
}
.capayment-horizontalline{
    height: 0.4vh;
    background-color: #E0E0E0;
    /* position:absolute; */
    margin-top: 4vh;
    width: 60vw;
    margin-left: 6vw;
}
svg{
    /* margin-left: 1vw; */
    margin-right: 0.5vw;
}
.capayment-totalamt{
    margin-left: 5.625vw;
    margin-top: 2.96vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 22px;
    color: black;
}
.capayment-middlerow{
    width: 70vw;
    margin-top: 2.59vh;
    margin-left: 1vw;
    display: flex;
    line-height: 3.5vh;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;

}
.capayment-tnc{
    border:1px solid #989898;
    border-radius: 8px;
    width: 45vw;
    color: #8A8A8A;
}
.capayment-paymentbtn{
    background-color: #F39423;
    width: 24.5vw;
    border: none;
    font-size: 20px;
    margin-left: 0.5vw;
    border-radius: 8px;
    color: white;
    /* display: inline;     */
}
.capayment-bottomrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
      
}
.capayment-discountcriterion{
    font-family:"ProximaNova-Semibold" !important;
    margin-top: 5.92vh;
    margin-left: 1vw;
    color: rgba(130, 130, 130, 0.93);   
}
.capayment-line2{
    flex-basis: 62vw;
    height: 0.3vh;
    background-color: #E0E0E0;
    /* position:absolute; */
    margin-top: 8vh;
    width: 29%;
    margin-left: 1vw;
}
.capayment-criterialistparent{
    background-color: white;
    margin-left: 1vw;
    margin-top: 5.925vh;
    height: 35vh;
    width: 70vw;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.08);
    border-radius: 6px;
    padding-left: 1vw;
    overflow-y: auto;
}
.capayment-criterialistheader{
    color: black;
    font-size: 20px;
    /* margin-left: 1vw; */
    /* margin-top: 1vh; */
}
.capayment-criterialistminorheader{
    color: #4F4F4F;
    opacity: 0.58;
}
.capayment-criterialist{
    margin-top: 2vh;
        
}
.capayment-paymentstatusdone{
    color: green;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.capayment-viewbillingdetails{
    color: orange;
    margin-left: 25vw;
    font-size: 14px;
    cursor:pointer;
}
.capayment-paymentinfodoneu{
    padding-top: 2.5vh;
    background-color: white;
    margin-left: 1vw;
    margin-top: 2vh;
    height: 10vh;
    width: 70vw;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.08);
    border-radius: 6px;
}
.capayment-criterialistparentdone{
    background-color: white;
    margin-left: 1vw;
    margin-top: 2vh;
    height: fit-content;
    width: 70vw;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.08);
    border-radius: 6px;
    padding-left: 1vw;

}
.capayment-paymentinfodonee{
    display: none;
    padding-top: 2.5vh;
    padding-bottom:2.5vh;
    background-color: white;
    margin-left: 1vw;
    margin-top: 2vh;
    height: fit-content;
    width: 70vw;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.08);
    border-radius: 6px;
}
.capayment-modalinputcode{
    margin-top: 0.8vh;
    width: 20vw;
    border: none;
    height: 4vh;
    border-style: solid;
    border: 1px solid #B2B2B2;
    color: #70BF48;
    font-size: 18px;
}
.ant-modal-content{
    width: 25vw !important;
    height: 55vh !important;
    
}
.ant-modal-footer{
background:white;
}
.ant-modal-title{
    font-size: 14px;
    font-weight: 600;
    color: #5A5A5A;
}
.ant-modal-body{
    height:40vh; 
    padding-top: 0.5vh;
padding-left: 0;
padding-bottom:0;
    padding-right: 0;
}
.capayment-modalheader{
    font-weight: 800 !important;
    font-size: 13px;
    color: black;
}
.ant-btn{
    border: none;
}
.ant-btn-primary{
    background-color:  #F39423;
    width: 5vw;
}
.capayment-modalmiddlerow{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
    padding-right: 6vw;
    padding-left: 6vw;
}
.capayment-modalline{
   width: 2vw;
   background-color: black;
   

}
.capayment-modallastrowheader{
    color: black;
    font-weight: 600;
}
.capayment-modalcouponlist{
    height: 22vh;
    overflow-y: auto ;

}
.capayment-modalparent{
background:white;
height:40vh;
padding-left: 24px;
    padding-right: 24px;
}

.coming_soon{
padding: 2rem;
font-size: 2rem;
font-family:"ProximaNova-Semibold" !important;


}

@media only screen and (max-width: 900px){
.capayment-parent {
    color: black;
    position: relative;
    top: 0;
    left:0;
    width:100%;
    min-height: 100vh;
    padding-bottom: 2vh;
    background-color: #F7F8F9;
}
.capayment-paymentinfo{
	margin-left:0;
    
  
    width: 100%;
}
}
