@mixin mobile {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin fhd {
  @media (min-width: 1000px) and (max-width: 1600px) {
    @content;
  }
}
.esummit-landing-bubble-heading {
  position: relative;
}

.head1 {
  font-size: 2rem !important ;
  letter-spacing: 0.05em;
  color: #feffff;
  font-weight: bold !important;
  display: inline-block;
  margin-left: -1.8rem;
  z-index: 3;
  position: relative;
  font-family: ProximaNova-Bold, sans-serif;

  @include fhd {
    font-size: 1.5rem !important;
  }

  @include mobile {
    font-size: 18px !important;
    letter-spacing: 0.04em;
    margin-left: 0.5rem;
    padding-top: 0px !important;
  }
}

.vector {
  width: 3rem;
  margin-top: -1.25rem !important;
  z-index: 2;
  margin-left: -1.5rem;
  vertical-align: middle;

  @include mobile {
    position: absolute;
    margin-left: -1rem;
  }
}
