@mixin mobile {
    @media(max-width: 1200px) {
        @content;
    }

}

.footer_all {

    .heading {
        font-size: 100px;
        color: blue;
        height: 100px;
        width: 100px;
    }

    #footerinfo {
        color: white;
        margin-top: 12px;

    }

    .pagefooter {
        background: url('../static/landingfooter.png');
        background-size: cover;
        height: fit-content;
        padding:  14.07vh 20%;

        @include mobile {
            padding: 1vh;
        }
    }

 




    .fcontact {


        display: grid;
        grid-template-columns: auto auto auto;
        width: 100vw;

        


        @media (max-width: 900px) {
            display: block;
            padding: 2rem;
        }
    }

    .flogo{

        @include mobile{
            display: grid;
            justify-items: center;
        }
        img{
            width:9vw;
            margin-left: 10%;

            @include mobile{
                width: 50vw;
                margin-left: 0;
            }
        }
    }

    .footerform-heading {
        font-family: "ProximaNova-Bold";
        font-size: 25.56px;
        line-height: 36px;
        text-align: left;
        color: #FFFFFF;
    }

 

    .landing-footer-icons {}

    .landing-footer-icons i {
        background: #292B2A;
        color: #FFFFFF;
        font-size: 28px;
        margin-left: 28px;


    }

    .landing-footer-icons .fa-facebook {

        margin-left: 0 !important;
    }

    .landing-footer-heading {

        color: #F49D35;
        font-family: "ProximaNova-Semibold";
        font-size: 25.56px;
        text-align: left;
    }


    .landing-footer-details {

        margin-top: 1.59vh;
        margin-bottom: 4.92vh;
        color: #FFFFFF;
        font-family: "Proxima-nova-regular";
        font-size: 22.72px;
        text-align: left;
    }

    .footerformfiels {
        display: flex;
        flex-direction: column;
        padding-right: 20%;
        padding-top: 2.8vh;
    }

    .Address{
        grid-column-start: 2;
        grid-column-end: 6;
    }

    #ladingpageinput {
        display: flex;
        outline: none !important;
        height: 7.40vh;
        width: 80%;
        color: #B5B9B9;
        font-size: 17.04px;
        margin-bottom: 2.8vh;
        padding: 2%;
        background: transparent;
        border-radius: 4px;
        border: 2px solid #4A4B4B;
        font-family: Proxima-nova-regular !important;
    }

    #ladingpageinput:focus {
        background: #FFFFFF;
        color: #0D1313;
    }

    #ladingpagetextinput {
        display: flex;
        outline: none !important;
        height: 34.35vh;
        width: 80%;
        color: #B5B9B9;
        font-size: 17.04px;
        margin-bottom: 2.8vh;
        padding: 2%;
        background: transparent;
        border-radius: 4px;
        border: 2px solid #4A4B4B;


    }

    #ladingpagebuttonb01 {
        background: #F49D35;
        height: 7.40vh;
        width: 80%;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 17.04px;
        border: none;
        font-weight: 600;

    }

    .landing-footer-adddetails {
        margin-bottom: 0 !important;

    }

    .landing-footer-esummitteam {

        color: #F49D35;
        font-family: "Proxima-nova-regular";
        font-size: 17.04px;
        letter-spacing: 0.04em;
        margin-bottom: 6vh;
        margin-left: 3vw;


    }

    .landing-footer-inspiring {
        letter-spacing: 0.04em;
        color: #FFFFFF;
        font-size: 14.2px;
        margin-left: 1vw;
        font-family: "ProximaNova-Light";
        padding-left: 10%;
    }

    ::placeholder {
        color: #B5B9B9;
        opacity: 1;
    }

    .landing-pagefooterbottom {
        background: #242626;
        padding-bottom: 8.148vh;
    }

    .landing-pagefooterbottom img {
        margin-top: -30px;
        padding-bottom: 6vh;
        cursor: pointer;
    }

    .landing-bottomfooter-heading {

        font-family: "Proxima-nova-regular";
        font-size: 31.24px;
        text-align: center;
        color: #FFFFFF;


    }

    .landing-bottomfooter-mail {

        font-family: "Proxima-nova-regular";
        margin-top: 2.58vh;
        font-size: 22.72px;
        text-align: center;
        color: #F49D35;
    }




    @media (min-width: 1920px) and (max-width: 2560px) {


        .footerform-heading {
            font-size: 36px;

        }


        #ladingpageinput {

            font-size: 24px;
        }

        .landing-footer-inspiring {
            font-size: 20px;
            margin-left: 3vw;
        }

        .landing-footer-esummitteam {
            font-size: 24px;
            margin-left: 1vw;
        }

        .landing-footer-heading {
            font-size: 36px;
        }

        .landing-footer-details {
            font-size: 32px
        }

        #ladingpagetextinput {
            font-size: 24px;
        }

        #ladingpagebuttonb01 {
            font-size: 24px;
        }

        .landing-bottomfooter-heading {
            font-size: 44px;
        }

        .landing-bottomfooter-mail {
            font-size: 32px;

        }

    }

}