input {
  padding: 8px 0;
  display: block;
  border: none;
  width: 100%;
  border-bottom: 2px solid #ccc;
  margin-top: 10px !important;
  margin-left: 48px !important;
}
.error_message {
  margin-left: 48px;
  margin-top: 3px;
  margin-bottom: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: red;
}

.personaldetails {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  background: #00151b;
}
.p_signup {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  position: absolute;
  left: 550px;
  top: 186px;
  color: #ffffff;
  width: 47px;
  height: 28px;
}
.p_personaldetail {
  position: absolute;
  width: 101px;
  height: 28px;
  left: 815px;
  top: 186px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.p_personaldetail_circle {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 838px;
  top: 142px;
  border-radius: 36px;
  border: 3px solid #09c9c3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p_personaldetail_innercircle {
  /* position: absolute; */
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background-color: #09c9c3;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.p_between_line {
  position: absolute;
  width: 247px;
  height: 3px;
  left: 590px;
  top: 159px;
  background: #ffffff;
}
.p_signup_innercircle {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 560px;
  top: 146px;
  border-radius: 30px;
  background: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(1, 12, 15, 0.87);
}
.personaldetails_form {
  position: absolute;
  width: 556px;
  left: 445px;
  height: 725px;
  top: 254px;
  background: #ffffff;
  border-radius: 4px;
}
.personal-submitButton {
  position: absolute;
  padding: 0px;
  top: 627px;
}
.personaldetails_data {
  padding: 1rem;
}
.personaldetails_title {
  width: 556px;
  height: 54px;
  border-radius: 4px;
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  letter-spacing: 0.02em;
  justify-content: center;
  color: #ffffff;
  background: #09c9c3;
  margin-bottom: 2rem;
}
label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px; /* identical to box height */
  letter-spacing: 0.02em;
  color: rgba(1, 12, 15, 0.5);
}
/* .personalDetail-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
} */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .personaldetails {
    width: 380px !important;
    height: 680px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .navbar-container {
    width: 380px !important;
  }
  .personaldetails_form {
    width: 380px !important;
    left: 0px;
    display: flex;
    flex-direction: column;
  }
  .personaldetails_title {
    width: 380px !important;
  }
  input {
    width: 330px !important;
  }
  .p_signup_innercircle {
    left: 40px;
  }
  .p_signup {
    left: 32px;
  }
  .p_between_line {
    left: 70px;
    width: 200px;
  }
  .p_personaldetail_circle {
    left: 270px;
  }
  .p_personaldetail {
    left: 230px;
  }
  .personal-submitButton {
    margin-left: -120px !important;
  }
}
