@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .accountsetup_popup {
    height: 220px !important;
    width: 380px !important;

    background: #ffffff;
  }
  .accountsetup_popup_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .account_popup_data {
    margin: 20px 0 0 0 !important;
  }
  .facebook_login {
    position: unset !important;
    margin: 20px 0 0 0 !important;
  }
}
.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signupcircle_marker {
  width: 320px;
  position: relative;
  height: 40px;
  margin: 30px;
}
.signup_circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 36px;
  border: 3px solid #09c9c3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup_innercircle {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background-color: #09c9c3;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.account_setup {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #00151b;
}
.between_line {
  position: absolute;
  width: 247px;
  left: 40px;
  top: 18px;
  height: 3px;
  background: #ffffff;
}
.personaldetail_innercircle {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 288px;
  border-radius: 30px;
  background: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(1, 12, 15, 0.87);
}
.accountsetup_popup {
  width: 556px;
  height: 284px;
  left: 450px;
  top: 254px;
  background: #ffffff;
  border-radius: 4px;
}
.accountsetup_popup_title {
  width: 100%;
  height: 54px;
  left: 472px;
  top: 254px;
  background: #09c9c3;
  font-family: Poppins;
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  border-radius: 4px 4px 0px 0px;
}
.account_popup_data {
  width: 371px;
  height: 50px;
  margin-left: 92px;
  margin-top: 58px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(1, 12, 15, 0.75);
}
.facebook_login {
  margin-left: 200px;
  margin-top: 43px;
}
