#perksexcite {
  padding: 6vh 4rem 6vh 4rem;
  font-size: 1.5rem;
  line-height: normal;
  text-align: justify;
  letter-spacing: 0.06em;
  display: block;
  color: #1A4D66;
}

#perksexcite p {
  margin-top: 10vh;
  line-height: normal;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #1A4D66;
  text-transform: capitalize;
}

.register_main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

@media (max-width: 960px) {
  .register_main {
    display: block;
  }
}

.register_main .register_text span {
  display: block;
}

.register_main .register_text span:first-child {
  margin-top: 10vh;
  line-height: normal;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #1A4D66;
}

@media (max-height: 1600px) {
  .register_main .register_text span:first-child {
    font-size: 2rem;
  }
}

@media (max-width: 960px) {
  .register_main .register_text span:first-child {
    margin-top: 1.875rem;
    font-size: 1.5rem;
  }
}

.register_main .register_text span:nth-child(2) {
  margin: 6vh 4rem 6vh 4rem;
  line-height: 2.3125rem;
  font-size: 1.75rem;
  text-align: justify;
  letter-spacing: 0.06em;
  color: #1A4D66;
}

@media (max-height: 1600px) {
  .register_main .register_text span:nth-child(2) {
    font-size: 1.5rem;
    line-height: normal;
  }
}

@media (max-width: 960px) {
  .register_main .register_text span:nth-child(2) {
    margin: 2rem 1.375rem;
    font-size: 0.875rem;
    line-height: 1.1875rem;
  }
}

.register_main .register_text span:nth-child(3) {
  line-height: normal;
  font-size: 2.25rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #1A4D66;
}

@media (max-height: 1600px) {
  .register_main .register_text span:nth-child(3) {
    font-size: 2rem;
  }
}

@media (max-width: 960px) {
  .register_main .register_text span:nth-child(3) {
    font-size: 1rem;
  }
}

.register_main .register_text button {
  border: 0.125rem solid #3A667B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.125rem 1.875rem;
  line-height: 1.5625rem;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.09em;
  background: none;
  color: #3A667B;
  margin-top: 1.5rem;
  cursor: pointer;
}

.register_main .register_form {
  background: #1A4D66;
  padding: 36px 100px;
  min-height: 40rem;
}

@media (max-width: 960px) {
  .register_main .register_form {
    margin-top: 60px;
    padding: 36px;
  }
}

.register_main .register_form a, .register_main .register_form a:hover {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.25rem;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

@media (max-width: 960px) {
  .register_main .register_form a, .register_main .register_form a:hover {
    font-size: 12px;
    letter-spacing: 0.06em;
  }
}

.register_main .register_form button {
  background: #F39423;
  border-radius: 15rem;
  border: none;
  line-height: normal;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  padding: 0.875rem 3.75rem;
  margin-top: 5rem;
  color: #FFFFFF;
  cursor: pointer;
}

.register_main .register_form .register_login {
  padding: 1rem 1.25rem;
  background: #265C77;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  float: right;
  color: white !important;
}

@media (max-width: 960px) {
  .register_main .register_form .register_login {
    margin: auto;
  }
}

.register_main .register_form .register_register {
  padding: 1rem 1.25rem;
  background: #F39423;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  float: right;
  color: white !important;
}

@media (max-width: 960px) {
  .register_main .register_form .register_register {
    margin: auto;
  }
}

.register_main .register_form form {
  margin: 6.25rem 0 0 0;
}

.register_main .register_form form label {
  display: block;
  line-height: normal;
  font-size: 1.75rem;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 3.5rem;
}

@media (max-height: 1600px) {
  .register_main .register_form form label {
    font-size: 1.5rem;
  }
}

@media (max-width: 960px) {
  .register_main .register_form form label {
    font-size: 16px;
    letter-spacing: 0.06em;
  }
}

.register_main .register_form form input {
  border-bottom: 1px solid #FFFFFF;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1.25rem;
  letter-spacing: 0.06em;
  height: 2rem;
  color: #FFFFFF;
}

.register_main .register_form form select {
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1.25rem;
  letter-spacing: 0.06em;
  background: #FFFFFF;
  padding: 0.5rem;
  height: 3.3rem;
  border-radius: 0.3rem;
  color: black;
  border: none;
}

.register_main .register_form form option {
  color: black;
}
/*# sourceMappingURL=register.css.map */