input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.esummit-common-parent {
  background: #1a4d66;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}
.esummit-register-parent {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}
.esummit-register-parent-login {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}
.MuiPaper-root-17 {
  background-color: #153d50 !important;
}
.MuiStepConnector-line-116 {
  border-color: #153d50 !important;
}
.MuiStepIcon-text-61 {
  font-family: Montserrat !important;
}
.MuiStepIcon-root-60.MuiStepIcon-completed-63 {
  border-radius: 50% !important;
  background: white !important;
}
.esummit-register-form-parent {
  width: 80%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 8%;
}
.esummit-register-form-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.esummit-regsiter-form-heading-child {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  font-size: 25.71px;
  text-align: center;
  font-weight: 700;
  font-family: 'Poppins-Regular';
  color: rgba(255, 255, 255, 0.87);
  font-weight: 600;
  letter-spacing: 0.01em;
}
.esummit-regsiter-form-heading-child-second {
  margin-top: 5px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  font-family: 'Poppins-Regular';
  color: rgba(255, 255, 255, 0.38);
  font-size: 11.42px;
  letter-spacing: 0.04em;
}
.tushar {
  /* border-radius: 0px !important;
    padding: 0px 40px 0px 5px !important; */
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.87) !important;
  color: rgba(255, 255, 255, 0.87) !important;

  box-sizing: border-box;
  border-radius: 2px;
  opacity: 1 !important;
}

.tushar div {
  background: transparent !important;
}
.tushar span {
  /* padding: 0px 15px 0px 0px !important;
    font-size:calc(.27548vw + 12.71074px) !important;
    font-weight: 600 !important;
    font-family: Montserrat !important; */
  font-family: 'Poppins-Regular' !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 14.28px !important;
  line-height: 30px !important    ;
  text-align: center;
  color: rgba(255, 255, 255, 0.87) !important;
}
.tushar:hover {
  /* opacity: 1 !important; */
}
.tushar div {
  /* margin-right:  calc(2.34435vw + 3.38843px) !important;
    padding: 10px 10px 10px 10px !important; */
}
.kep-login-facebook {
  /* color: rebeccapurple !important; */
  /* display: none !important; */
  text-transform: capitalize !important;
  font-family: 'Poppins-Regular' !important;
  color: rgba(255, 255, 255, 0.87) !important;
  /* padding: 10px 40px 10px 20px !important; */
  background: transparent !important;
  border: 2px solid rgba(255, 255, 255, 0.87) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.kep-login-facebook span {
  padding: 10px 10px 10px 0px !important;
}
/* .kep-login-facebook i::before{
    height: 10px !important;
    width: 10px !important;
}
.kep-login-facebook .fa {
    margin-right: calc(2.34435vw + 8.38843px) !important;
} */
.esummit-register-form-body-parent {
  width: 100%;

  margin-top: 8%;
}
.esummit-register-form-orsection {
  display: flex;
  width: 100%;
  margin-top: 8%;
}
.esummit-register-form-orsection hr {
  background-color: rgba(255, 255, 255, 0.6);
  height: 0px;
  margin: 0;
}
.esummit-register-form-orsection-hr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  margin-left: auto;
}
.esummit-register-form-orsection-hr-s {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  margin-right: auto;
}
.esummit-register-form-orsection span {
  font-family: 'Poppins-Regular';
  line-height: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 0.6);
  padding: 0px 10px;
}
.esummit-register-form-body-social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.esummit-register-form-input-section {
  margin: 5% 0%;
}
.esummit-register-form-input-specific {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.esummit-register-form-input-specific label {
  color: rgba(255, 255, 255, 0.6);
  font-family: Poppins-Regular;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.esummit-register-form-input-specific input {
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 2px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  width: 100%;
  min-height: 38px;
}
.esummit-register-form-field-error-text {
  border-bottom: 1px solid #e2574c !important;
}
.esummit-register-form-field-error {
  font-size: 12px;
  font-family: 'Poppins-Regular';
  color: #e2574c;
  height: 12px;
}
.esummit-register-form-field-error-svg img {
  height: 15px;
  width: 15px;
  position: absolute;
  right: -28px;
  top: 17px;
}
.esummit-register-form-input-specific-inner {
  display: flex;
  position: relative;
}

.esummit-register-form-input-specific-eye {
  display: flex;
  position: relative;
}
.esummit-register-form-input-specific-eye input {
  width: 100%;
}
.esummit-register-form-input-specific-eye-svg {
  height: 15px;
  width: 15px;
  position: absolute;
  right: 10px;
  top: 25px;
}
.esummit-register-form-input-specific-eye img:hover {
  cursor: pointer;
}
.esummit-register-form-input-specific input:focus {
  outline: none;
}
.esummit-register-form-button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Poppins-Regular';
  margin-bottom: 8%;
  margin-top: 8%;
}
.esummit-register-form-button-back {
  background-color: #359d9a;
  border-radius: 4px;
  padding: 10px 18px;
  font-family: 'Poppins-Regular';
  color: white;
  border: 2px solid #359d9a;
  cursor: pointer;
  font-weight: 600;
}
.esummit-register-form-button button {
  background-color: #359d9a;
  border-radius: 2px;
  padding: 8px 35px;
  font-family: 'Poppins-Regular';
  cursor: pointer;
  border: 1px solid #f39423;
  color: white;
  font-weight: 600;
  outline: none;
}
.esummit-resgiter-form-profile-type-heading {
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #4f4f4f;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.esummit-resgiter-form-profile-type-body {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.esummit-resgiter-form-profile-type-body {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.esummit-profile-type-container {
  position: relative;
  margin-top: 15px;
}
.esummit-profile-type-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.esummit-profile-type-checkmark {
  position: absolute;
  top: 5px;
  left: 15px;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
}

.esummit-profile-type-container:hover input ~ .esummit-profile-type-input-text {
  line-height: normal;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.esummit-profile-type-container
  input:checked
  ~ .esummit-profile-type-checkmark {
  background-color: white;
}
.esummit-profile-type-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.esummit-profile-type-container:hover input ~ .esummit-profile-type-checkmark {
  background-color: #f39423;
  border: 1px solid #f39423;
  cursor: pointer;
}
.esummit-profile-type-container
  input:checked
  ~ .esummit-profile-type-checkmark:after {
  display: block;
}
.esummit-profile-type-container
  input:checked
  ~ .esummit-profile-type-input-text {
  color: #4f4f4f;
}
.esummit-profile-type-input-text {
  margin-left: 20%;
  color: #b2b2b2;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.esummit-profile-type-input-text:hover {
  cursor: pointer;
}
.esummit-profile-type-container .esummit-profile-type-checkmark:after {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #f39423;
}
.css-vj8t7z {
  border: none !important;
  border-bottom: 1px solid #b2b2b2 !important;
  outline: none !important;
  height: 30px;
}
.css-vj8t7z .css-xp4uvy {
  color: #b2b2b2 !important;
}
.css-2o5izw {
  border: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #b2b2b2 !important;
  color: #b2b2b2 !important;
  border-radius: none !important;
  height: 30px !important;
}
.css-1hwfws3 {
  padding-left: 0px !important;
}
.css-1492t68 {
  color: #b2b2b2 !important;
}
.css-10nd86i {
  width: 100% !important;
}
.css-15k3avv {
}
.css-1uccc91-singleValue {
  color: rgba(255, 255, 255, 0.6) !important;
}
.esummit-register-form-body-parent-heading-first {
  line-height: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);

  padding: 0px 0px 10px 0px;
}
.esummit-register-form-body-parent-heading-second {
  line-height: normal;
  font-size: 18px;
  text-align: center;

  color: rgba(255, 255, 255, 0.38);
  padding: 10px;
}
.esummit-register-form-footer {
  text-align: center;
  margin-bottom: 40px;
}
.esummit-register-form-footer span {
  line-height: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 2px;
  color: #ffffff;
}
.esummit-register-form-footer span:nth-child(2) {
  color: #f6af5a;
}
.esummit-register-form-footer a {
  text-decoration: none;
  color: #f6af5a;
  font-weight: 600;
}
.esummit-register-form-footer a:hover {
  color: #f6af5a !important;
}
.esummit-register-form-successfull-parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.esummit-register-form-successfull-grand-parent {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 8%; */
}
.esummit-register-form-resend-otp-field {
  line-height: normal;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #f39423;
  padding: 10px 0px;
  cursor: pointer;
}
.esummit-register-form-message-verification {
  color: #56a256;
  font-size: 13px;
}
.esummit-register-form-arrow-box {
  position: relative;
  border: 1px solid #4f4f4f;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: #4f4f4f;
}
.esummit-register-form-arrow-box:after,
.esummit-register-form-arrow-box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.esummit-register-form-arrow-box:after {
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -30px;
}
.esummit-register-form-arrow-box:before {
  border-bottom-color: #4f4f4f;
  border-width: 13px;
  margin-left: -33px;
}
.esummit-register-form-forgot-password-text {
  margin-top: 5px;
}
.esummit-register-form-forgot-password-text a {
  text-decoration: none;
  line-height: normal;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #f39423;
  padding: 20px 0px;
  cursor: pointer;
}
.esummit-register-form-forgot-password-text a:hover {
  color: #f39423 !important;
}
.esummit-register-form-error-message-handle {
  font-size: 13px;
  color: red;
  padding: 4px 0px;
}
.css-2b097c-container {
  width: 100% !important;
  outline: none !important;
}
.css-v2329v-control {
  border: 2px solid rgba(255, 255, 255, 0.6) !important;
}
.css-1wa3eu0-placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
  font-family: 'Poppins-Regular' !important;
}
.esummit-register-form-go-to-name {
  text-align: center;
  padding: 20px 0px 0px 0px;
  color: rgba(255, 255, 255, 0.87) !important;

  font-size: 16px;
  font-weight: 600;
  opacity: 0.75;
}
.esummit-register-form-timer {
  color: rgba(255, 255, 255, 0.87);
}
@media (max-width: 768px) {
  .esummit-register-form-body-social {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .esummit-register-parent {
    width: 100%;
    margin-top: 33%;
  }
  .esummit-register-parent-login {
    width: 100%;
    margin-top: 10%;
  }
  .esummit-register-form-parent {
    width: 100%;
  }
  .kep-login-facebook.medium {
    width: 100% !important;
  }
  /* .tushar{
        margin: 10px 0px !important;
    }
    .tushar div{
        margin-left: 17vw;
    } */
  .esummit-resgiter-form-profile-type-body {
    width: 83%;
  }
  .esummit-regsiter-form-heading-child-second {
    text-align: center;
    line-height: 1.2em;
  }
  .esummit-common-second-child span {
    padding: 5px;
  }
  .esummit-regsiter-form-heading-child {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 1800px) and (max-device-width: 2520px) {
  .esummit-regsiter-form-heading-child {
    font-size: 36px;
  }

  .esummit-regsiter-form-heading-child-second {
    font-size: 16px;
  }
  .tushar {
    border: 2px solid rgba(255, 255, 255, 0.87) !important;
    border-radius: 4px !important;
  }
  .tushar span {
    font-size: 20px !important;
  }
  .kep-login-facebook {
    border: 2px solid rgba(255, 255, 255, 0.87) !important;
    opacity: 1 !important;
    border-radius: 4px;
  }
  .esummit-register-form-input-specific input {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
  }
  .esummit-register-form-field-error {
    font-size: 16px;
    font-family: 'Poppins-Regular';
    color: #cb4c4c;
    height: 12px;
  }
  .esummit-register-form-input-specific input {
    font-size: 18px;
  }
}
