.ideastorm {
    background: #030d0f;
  }
  .header {
    background: #030d0f;
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: 20% 80%;
    grid-template-columns: 20% 80%;
    padding: 0 10vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000000000000000;
    height: 100px;
  }
  
  
  
  .ideastorm .header img {
    height: 100px;
  }
  
  .ideastorm .header .head_array {
    -ms-grid-column-align: end;
    justify-self: end;
  }
  
  .ideastorm .header .head_array span {
    font-family: 'ProximaNova-Semibold';
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #ffffff;
    margin-left: 40px;
  }