.form-password-container {
  background-color: #010c0f;
  margin-top: 6rem;
}

.forgot-password-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: #070f12;
  padding: 3rem;
}

.success-text {
  color: green;
  font-size: 1.1rem;
}

.error-text {
  color: red;
  font-size: 1.1rem;
}

.loader-text {
  font-size: 1.4rem;
  color: white;
}

@media only screen and (max-width: 768px) {
  .forgot-password-form {
    width: 90%;
  }
}
