.suignite-parent {
  height: 93vh;
  width: 100vw;
  padding: 3.24vh 19.63vw;
  background: black;
}
.suignite-parent-img {
  /* background:url('./img/Startup_Ignite.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 3.24vh;
  height: 5.64vh;
  width: auto;
}
.suignite-parent p:nth-child(2) {
  font-family: 'ProximaNova-Bold';
  font-size: 34.08px;
  margin-top: 3.79vh;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}

.suignite-parent p:nth-child(3) {
  font-family: 'ProximaNova-Light';
  font-size: 19.88px;
  margin-top: 1.1vh;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}

.suignite-parent p:nth-child(4) {
  font-family: 'Proxima-nova-regular';
  font-size: 21.3px;
  margin-top: 4.99vh;
  line-height: 3.51vh;
  color: #ffffff;
  text-align: center;
}

.suignite-parent-childparent {
  display: flex;
  flex-direction: column;
  background: #030d0f;
  padding: 8rem 0 0 0;
}
@media (max-width: 768px) {
  .suignite-parent-childparent {
    padding: 4rem 0 0 0;
  }
}
.suignite-parent-child1 {
  /*height:39.81vh;
padding-top:12.31vh;
padding-right: 3.75%;
text-align:right;
position: sticky;
top: 50px;
width:25.72%;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 17%;
  justify-content: space-around;
  margin: 0;
}
.suignite-parent-child1 div {
  cursor: pointer;
  padding: 0% 15px;
  /*width: 33.3%;*/
}

.suignite-parent-child1 p {
  padding: 1% 0px;
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .suignite-parent-child1 p {
    font-size: 2rem;
  }
}
.suignite-parent-child1-active {
  color: rgba(255, 255, 255, 0.87);
  /* font-size: 14.2px; */
  padding: 5px 15px;
  font-family: 'ProximaNova-Semibold';
  border-bottom: 4px solid rgb(53, 157, 154);
}
.suignite-parent-child1-inactive {
  color: rgba(255, 255, 255, 0.38);
  /* font-size: 14.2px; */
  padding: 0px 15px;
  font-family: 'ProximaNova-Semibold';
}

.suignite-parent-child2 {
  height: fit-content;
  padding: 3rem 17% 0 17%;
  background: #030d0f;
}

.suignite-parent-child2-img {
  height: 49.07vh;

  text-align: center;
  font-size: 3rem;
}
.suignite-parent-child2-panel {
  padding-top: 17.4vh;
  padding-bottom: 12.22vh;
  border-bottom: 1px solid #c4c4c4;
}

.suignite-vector {
  width: 3rem;
  margin-top: -1.25rem !important;
  position: relative;
  z-index: 2;
  margin-left: -1.5rem;
  vertical-align: middle;
}

.suignite-head1 {
  font-size: 25.56px;
  letter-spacing: 0.1em;
  color: #1a4d66;
  font-weight: bold !important;
  display: inline-block;
  margin-left: -2rem;
  z-index: 3;
  position: relative;
  font-family: ProximaNova-Bold;
}
.suignite-topic-heading {
  font-size: 21.3px;
  font-family: 'ProximaNova-Semibold';
}

.suignite-topic-para {
  font-family: 'Proxima-nova-regular';
  font-size: 19.88px;
}

.suignite-parent-child2-panel p:nth-of-type(1) {
  margin-top: 6.67vh;
  margin-bottom: 0;
  color: #000000;
}

.suignite-parent-child2-panel p:nth-of-type(2) {
  margin-top: 2.96vh;
  margin-bottom: 0;
  color: #4f4f4f;
}

.suignite-parent-child2-panel p:nth-of-type(3) {
  margin-top: 5.185vh;
  margin-bottom: 0;
  color: #000000;
}

.suignite-parent-child2-panel p:nth-of-type(4) {
  margin-top: 2.96vh;
  margin-bottom: 0;
  color: #4f4f4f;
}

.suignite-panelists-img-parent {
  display: flex;
  flex-direction: row;
  margin-top: 5.185vh;
}

.suignite-panelists-img-child {
  height: fit-content;
  padding: 0px 10px;
}
.panelists-name {
  font-size: 18.46px;
  color: #4f4f4f;
  margin-top: 2.22vh;
}
.panelists-company {
  font-size: 14.2px;
  color: #b2b2b2;
}
.suignite-panelists-img1 {
  height: 19.44vh;
  width: 19.44vh;
  background-size: cover;
  background-position: top;
  margin-right: 3.2vw;
  margin-bottom: 10%;
  /* border-top-right-radius: 4px;
border-top-left-radius: 15px;
border-bottom-right-radius: 16px;
border-bottom-left-radius: 4px; */
}

.suignite-guestlecture-parent {
  padding-top: 12.22vh;
  padding-bottom: 12.22vh;
  border-bottom: 1px solid #c4c4c4;
}

.suignite-guestlecture-child-parent {
  display: flex;
  flex-direction: row;
  margin-top: 6.66vh;
  align-items: center;
}
@media (max-width: 700px) {
  .suignite-guestlecture-child-parent {
    flex-direction: column;
    align-items: center;
    margin-top: 4.66vh;
  }
}
.suignite-guestlecture-child1 {
  height: 27.87vh;
  width: 27.87vh;
  background: #c4c4c4;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.suignite-guestlecture-child2 {
  padding-left: 4.89%;
  width: 71%;
}
.suignite-guestlecture-child2 p:nth-child(1) {
  font-family: 'ProximaNova-Semibold';
  font-size: 21.3px;
  color: #000000;
  margin-bottom: 0;
}
.suignite-guestlecture-child2 p:nth-child(2) {
  font-family: 'Proxima-nova-regular';
  font-size: 17.04px;
  color: #4f4f4f;
  margin-top: 1.11vh;
  margin-bottom: 0;
}
.suignite-guestlecture-child2 p:nth-child(3) {
  font-family: 'Proxima-nova-regular';
  font-size: 19.88px;
  color: #000000;
  margin-top: 2.31vh;
  margin-bottom: 0;
}
.suignite-guestlecture-child2 p:nth-child(4) {
  font-family: 'Proxima-nova-regular';
  margin-top: 1.11vh;
  font-size: 17.04px;
  color: #4f4f4f;
  margin-bottom: 0;
}
.suignite-casestudy-parent {
  padding-top: 12.22vh;
  padding-bottom: 12.22vh;
  border-bottom: 1px solid #c4c4c4;
}
.suignite-casestudy-parent p:nth-child(even) {
  font-size: 19.88px;
  font-family: 'Proxima-nova-regular';
  margin-bottom: 0;
  color: #4f4f4f;
  margin-top: 2.96vh;
}
.suignite-casestudy-parent p:nth-child(odd) {
  font-size: 21.3px;
  font-family: 'ProximaNova-Semibold';
  margin-bottom: 0;
  color: #000000;
  margin-top: 5.185vh;
}
.suignite-iplauctionfrenzy-parent {
  padding-top: 12.22vh;
  padding-bottom: 12.22vh;
  border-bottom: 1px solid #c4c4c4;
}
.suignite-iplauctionfrenzy-parent p:nth-child(even) {
  font-size: 19.88px;
  font-family: 'Proxima-nova-regular';
  margin-bottom: 0;
  color: #4f4f4f;
  margin-top: 2.96vh;
}
.suignite-iplauctionfrenzy-parent p:nth-child(odd) {
  font-size: 21.3px;
  font-family: 'ProximaNova-Semibold';
  margin-bottom: 0;
  color: #000000;
  margin-top: 5.185vh;
}
.suignite-forqueries-parent {
  padding-top: 12.22vh;
  padding-bottom: 12.22vh;
  border-bottom: 1px solid #c4c4c4;
}
.suignite-forqueries-parent p:nth-child(2) {
  margin-top: 6.67vh;
  margin-bottom: 0;
  font-family: 'ProximaNova-Semibold';
  color: #000000;
  font-size: 19.88px;
}

.suignite-forqueries-parent p:nth-child(3) {
  color: #4f4f4f;
  margin-bottom: 0;
  font-family: 'Proxima-nova-regular';
  font-size: 19.88px;
}

.suignite-forqueries-parent p:nth-child(4) {
  color: #4f4f4f;
  font-family: 'Proxima-nova-regular';
  font-size: 19.88px;
  margin-bottom: 0;
}
.suignite-parent-child2-applyparent {
  background-image: url(../../../../assets/amity.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}
.suexpo-city-image img {
  max-width: 30rem;
  width: 75%;
  padding: 2rem 0;
  /* max-height: 10rem; */
}
.suignite-parent-child2-applyparent-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content-child1 {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  text-transform: uppercase;
}
.content-child2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
}
#suignite-parent-child2-applyparent-button {
  color: #359d9a;
  font-family: 'Poppins-Semibold';
  border: 2px solid #359d9a;
  background: transparent;
  margin-top: 1.85vh;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding: 0.5rem 2rem;
}
@media (max-width: 1200px) {
  #suignite-parent-child2-applyparent-button {
    font-size: 0.8rem;
  }
}
.back-jaipur-second {
  background-position: top;
  background-size: cover;
}
@media (min-width: 1820px) and (max-width: 2560px) {
  .suignite-head1 {
    font-size: 32px;
  }

  .suignite-topic-heading {
    font-size: 26px;
  }
  .suignite-topic-para {
    font-size: 24px;
  }

  .panelists-name {
    font-size: 22px;
    color: #4f4f4f;
    margin-top: 2.22vh;
  }
  .panelists-company {
    font-size: 16px;
    color: #b2b2b2;
  }
  .suignite-guestlecture-child2 p:nth-child(1) {
    font-family: 'ProximaNova-Semibold';
    font-size: 26px;
    color: #000000;
    margin-bottom: 0;
  }

  .suignite-guestlecture-child2 p:nth-child(2) {
    font-family: 'Proxima-nova-regular';
    font-size: 20px;
    color: #4f4f4f;
    margin-top: 1.11vh;
    margin-bottom: 0;
  }

  .suignite-guestlecture-child2 p:nth-child(3) {
    font-family: 'Proxima-nova-regular';
    font-size: 24px;
    color: #000000;
    margin-top: 2.31vh;
    margin-bottom: 0;
  }

  .suignite-guestlecture-child2 p:nth-child(4) {
    font-family: 'Proxima-nova-regular';
    margin-top: 1.11vh;
    font-size: 20px;
    color: #4f4f4f;
    margin-bottom: 0;
  }

  .suignite-casestudy-parent p:nth-child(even) {
    font-size: 24px;
    font-family: 'Proxima-nova-regular';
    margin-bottom: 0;
    color: #4f4f4f;
  }

  .suignite-casestudy-parent p:nth-child(odd) {
    font-size: 26px;
    font-family: 'ProximaNova-Semibold';
    margin-bottom: 0;
    color: #000000;
    margin-top: 5.185vh;
  }
  .suignite-iplauctionfrenzy-parent p:nth-child(even) {
    font-size: 24px;
    font-family: 'Proxima-nova-regular';
    margin-bottom: 0;
    color: #4f4f4f;
    margin-top: 2.96vh;
  }
  .suignite-iplauctionfrenzy-parent p:nth-child(odd) {
    font-size: 26px;
    font-family: 'ProximaNova-Semibold';
    margin-bottom: 0;
    color: #000000;
    margin-top: 5.185vh;
  }
  .suignite-forqueries-parent p:nth-child(2) {
    font-size: 24px;
  }

  .suignite-forqueries-parent p:nth-child(3) {
    font-size: 24px;
  }

  .suignite-forqueries-parent p:nth-child(4) {
    font-size: 24px;
  }
  .suignite-parent-child1-inactive {
    font-size: 20px;
  }
  .suignite-parent-child1-active {
    font-size: 20px;
  }
  .suignite-parent p:nth-child(2) {
    font-family: 'ProximaNova-Bold';
    font-size: 44px;
    margin-top: 3.79vh;
    margin-bottom: 0;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-align: center;
  }
  .suignite-parent p:nth-child(3) {
    font-family: 'ProximaNova-Light';
    font-size: 24px;
    margin-top: 1.1vh;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    color: #ffffff;
    text-align: center;
  }
  .suignite-parent p:nth-child(4) {
    font-family: 'Proxima-nova-regular';
    font-size: 26px;
    margin-top: 4.99vh;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
  }
  #suignite-parent-child2-applyparent-button {
    font-size: 12px;
  }
  .suignite-parent-child2-applyparent-heading {
    font-size: 28px;
  }
}

@media (max-width: 900px) {
  .suignite-parent-child1 {
    height: 10vh !important;
    padding: 0;
  }
  .suignite-parent-child1-inactive {
  }
  .suignite-parent-child1-active {
  }
  .suignite-parent-child2-applyparent-heading {
    font-size: 20px;
  }
  .suignite-panelists-img-parent {
    display: flex;
    flex-direction: column;
    margin-top: 5.185vh;
  }
  .suignite-parent-childparent {
    display: flex;
    flex-direction: column;
  }
  .suignite-parent-child2 {
    width: 100%;
    padding-left: 17%;
    padding-right: 17%;
  }
  .suignite-casestudy-parent p:nth-child(even) {
    font-size: 16px;
    color: #242424;
  }
  .suignite-casestudy-parent p:nth-child(odd) {
    font-size: 16px;
  }
  .suignite-head1 {
    font-size: 18px;
  }
  .suignite-iplauctionfrenzy-parent p:nth-child(even) {
    font-size: 16px;
    color: #242424;
  }
  .suignite-iplauctionfrenzy-parent p:nth-child(odd) {
    font-size: 16px;
  }
  .suignite-topic-heading {
    font-size: 16px;
  }
  .suignite-topic-para {
    font-size: 16px;
  }
  .suignite-panelists-img-child {
    align-self: center;
  }
  .suignite-panelists-img-parent {
    display: flex;
    flex-direction: column;
    margin-top: 5.185vh;
    text-align: center;
  }
  .suignite-parent-child1 {
    /* height: 39.81vh; */
    height: 0vh;
    padding-top: 5vh;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 3.75%;
    /* text-align: right; */
    width: 100%;
    display: flex;
    position: unset;
  }
  .suignite-parent-child2-img {
    height: 10vh;
  }
  .suignite-guestlecture-child2 p:nth-child(1) {
    font-size: 16px;
  }
  .suignite-guestlecture-child2 p:nth-child(2) {
    font-size: 12px;
    margin-top: 0;
  }
  .suignite-guestlecture-child2 p:nth-child(3) {
    font-size: 14px;
    margin-top: 1.31vh;
  }
  .suignite-guestlecture-child2 p:nth-child(4) {
    font-size: 14px;
    line-height: 15px;
    margin-top: 0.11vh;
  }
  .suignite-guestlecture-child1 {
    height: 16.56vh;
    width: 16.56vh;
  }
  .suignite-parent p:nth-child(2) {
    font-size: 24px;
  }
  .suignite-parent p:nth-child(3) {
    font-size: 14px;
  }
  .suignite-parent p:nth-child(4) {
    font-size: 16px;
  }
  .suignite-parent {
    padding: 3.24vh 10%;
    width: 100%;
  }
  .suignite-casestudy-parent {
    padding-top: 7.22vh;
    padding-bottom: 7.22vh;
  }
  .suignite-iplauctionfrenzy-parent {
    padding-top: 7.22vh;
    padding-bottom: 7.22vh;
    border-bottom: 1px solid #c4c4c4;
  }
  .suignite-forqueries-parent {
    padding-top: 7.22vh;
    padding-bottom: 7.22vh;
    border-bottom: 1px solid #c4c4c4;
  }
  .suignite-parent-child2-panel {
    padding-top: 17.4vh;
    padding-bottom: 7.22vh;
    border-bottom: 1px solid #c4c4c4;
  }
}

.igniteheaderSection {
  background: #030d0f;
  height: fit-content;
  padding: 10rem 17% 0 17%;
}
@media (max-width: 1200px) {
  .igniteheaderSection {
    padding: 10rem 17% 0 17%;
    height: auto;
  }
}
.igniteheaderSection p:nth-child(2) {
  font-size: 3rem;
  letter-spacing: 0.1em;
  padding-bottom: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.87);
  line-height: 4.5rem;
  font-weight: bold;
  margin-top: 2rem;
}
@media (max-width: 1200px) {
  .igniteheaderSection p:nth-child(2) {
    font-size: 2rem;
    padding-bottom: calc(0px + 1vh);
    font-weight: bold;
    margin-top: 0.5rem;
  }
}

.igniteheaderSection p:nth-child(3) {
  font-size: 1.75rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: calc(0px + 3vh);
}
@media (max-width: 1200px) {
  .igniteheaderSection p:nth-child(3) {
    line-height: 1.5rem;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    padding-bottom: 0;
    color: rgba(255, 255, 255, 0.6);
  }
}

/* .igniteheaderSection p:nth-child(6) {
  font-size: 1.75rem;
  font-weight: 600;
  font-style: normal;
  color: rgba(255, 255, 255, 0.87);
  line-height: 2.625rem;
  padding-bottom: 4.62vh;
}
@media (max-width: 1200px) {
  .igniteheaderSection p:nth-child(6) {
    line-height: 170%;
    font-size: 1rem;
    letter-spacing: 0.1em;
    padding-bottom: calc(15px + 3vh);
  }
} */

.igniteheaderSection p:nth-child(5) {
  font-size: 1.625rem;
  letter-spacing: 0.1em;
  font-family: 'Poppins';
  color: rgba(255, 255, 255, 0.6);
  /* text-align: justify; */
  line-height: 170%;
}

@media (max-width: 1200px) {
  .igniteheaderSection p:nth-child(5) {
    line-height: 1.45rem;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.igniteheaderSection p {
  text-align: left;
  font-family: 'Poppins';
}
.igniteheaderSection .register a span {
  padding: 0.875rem 1rem;
  font-family: 'Poppins';
  border: 2px solid #359d9a;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #359d9a;
}
@media (max-width: 1200px) {
  .igniteheaderSection .register a span {
    font-size: 0.8rem;
  }
}
