.suignite-parent{
height:93vh;
width:100vw;
padding: 3.24vh 19.63vw;
background:black;
}
.suignite-parent-img{
/* background:url('./img/Startup_Ignite.png'); */
background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
margin-top:3.24vh;
height:5.64vh;
width:auto;
}
.suignite-parent p:nth-child(2){
font-family: "ProximaNova-Bold";
font-size:34.08px;
margin-top:3.79vh;
margin-bottom:0;
color:#FFFFFF;
text-align:center;
} 

.suignite-parent p:nth-child(3){
font-family: "ProximaNova-Light";
font-size:19.88px;
margin-top:1.10vh;
margin-bottom:0;
color:#FFFFFF;
text-align:center;
}

.suignite-parent p:nth-child(4){
font-family: "Proxima-nova-regular";
font-size:21.3px;
margin-top:4.99vh;
line-height: 3.51vh;
color:#FFFFFF;
text-align:center;
}

.suignite-parent-childparent{
display:flex;
flex-direction:row;
}

.suignite-parent-child1{
height:39.81vh;
padding-top:12.31vh;
    padding-right: 3.75%;
text-align:right;
position: sticky;
top: 50px;
width:25.72%;
}
.suignite-parent-child1 div{
cursor:pointer;
padding: 0px 15px;
}
.suignite-parent-child1-active{
color:#F39423;
font-size:14.2px;
padding: 0px 15px;
font-family: "ProximaNova-Semibold";
}
.suignite-parent-child1-inactive{
color:#B2B2B2;
font-size:14.2px;
padding: 0px 15px;
font-family: "ProximaNova-Semibold";
}

.suignite-parent-child2{
height:fit-content;
width:48.54%;

}

.suignite-parent-child2-img{
height:49.07vh;

text-align: center;
font-size: 3rem;


}
.suignite-parent-child2-panel{
padding-top:17.40vh;
padding-bottom: 12.22vh;
    border-bottom: 1px solid #C4C4C4;
}

.suignite-vector{
width: 3rem;
margin-top: -1.25rem !important;
position: relative;
z-index: 2;
margin-left: -1.5rem;
vertical-align: middle;
}

.suignite-head1{
    font-size: 25.56px;
    letter-spacing: 0.1em;
    color: #1A4D66;
    font-weight: bold !important;
    display: inline-block;
    margin-left: -2rem;
    z-index: 3;
    position: relative;
    font-family: ProximaNova-Bold;

}
.suignite-topic-heading{

font-size:21.3px;
font-family: "ProximaNova-Semibold";
}

.suignite-topic-para{
font-family: "Proxima-nova-regular";
font-size:19.88px;
}

.suignite-parent-child2-panel p:nth-of-type(1)
{
margin-top:6.67vh;
margin-bottom:0;
color:#000000;

}

.suignite-parent-child2-panel p:nth-of-type(2){
margin-top:2.96vh;
margin-bottom:0;
color:#4F4F4F;
}

.suignite-parent-child2-panel p:nth-of-type(3){
margin-top:5.185vh;
margin-bottom:0;
color:#000000;
}

.suignite-parent-child2-panel p:nth-of-type(4){
margin-top:2.96vh;
margin-bottom:0;
color:#4F4F4F;
}

.suignite-panelists-img-parent{

display:flex;
flex-direction:row;
    margin-top: 5.185vh;

}

.suignite-panelists-img-child{
height:fit-content;
padding: 0px 10px;
}
.panelists-name
{
font-size:18.46px;
color:#4F4F4F;
    margin-top: 2.22vh;

}
.panelists-company{
font-size:14.2px;
color:#B2B2B2
}
.suignite-panelists-img1{
height:19.44vh;
width:19.44vh;
background-size: cover;
background-position: center;
margin-right: 3.2vw;
border-top-right-radius: 4px;
border-top-left-radius: 15px;
border-bottom-right-radius: 16px;
border-bottom-left-radius: 4px;
}


.suignite-guestlecture-parent{
padding-top:12.22vh;
padding-bottom:12.22vh;
border-bottom: 1px solid #C4C4C4;


}

.suignite-guestlecture-child-parent{
display:flex;
flex-direction:row;
margin-top:6.66vh;
}

.suignite-guestlecture-child1{
height:27.87vh;
width:27.87vh;
background:#C4C4C4;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.suignite-guestlecture-child2{
padding-left: 4.89%;
    width: 71%;
}
.suignite-guestlecture-child2 p:nth-child(1){

font-family: "ProximaNova-Semibold";
font-size:21.3px;
color: #000000;
margin-bottom:0;
}
.suignite-guestlecture-child2 p:nth-child(2){

font-family: "Proxima-nova-regular";
font-size:17.04px;
color: #4F4F4F;
margin-top:1.11vh;
margin-bottom:0;
}
.suignite-guestlecture-child2 p:nth-child(3){

font-family: "Proxima-nova-regular";
font-size:19.88px;
color: #000000;
margin-top:2.31vh;
margin-bottom:0;
}
.suignite-guestlecture-child2 p:nth-child(4){
font-family: "Proxima-nova-regular";
margin-top:1.11vh;
font-size:17.04px;
color: #4F4F4F;
margin-bottom:0;
}
.suignite-casestudy-parent{
padding-top:12.22vh;
padding-bottom:12.22vh;
border-bottom: 1px solid #C4C4C4;
}
.suignite-casestudy-parent p:nth-child(even){
font-size:19.88px;
font-family: "Proxima-nova-regular";
margin-bottom:0;
color:#4F4F4F;
margin-top:2.96vh;
}
.suignite-casestudy-parent p:nth-child(odd){
font-size:21.3px;
font-family: "ProximaNova-Semibold";
margin-bottom:0;
color:#000000;
margin-top:5.185vh;
}
.suignite-iplauctionfrenzy-parent{
padding-top:12.22vh;
padding-bottom:12.22vh;
border-bottom: 1px solid #C4C4C4;
}
.suignite-iplauctionfrenzy-parent p:nth-child(even){
font-size:19.88px;
font-family: "Proxima-nova-regular";
margin-bottom:0;
color:#4F4F4F;
margin-top:2.96vh;
}
.suignite-iplauctionfrenzy-parent p:nth-child(odd){
font-size:21.3px;
font-family: "ProximaNova-Semibold";
margin-bottom:0;
color:#000000;
margin-top:5.185vh;
}
.suignite-forqueries-parent{
padding-top:12.22vh;
padding-bottom:12.22vh;
border-bottom: 1px solid #C4C4C4;
}
.suignite-forqueries-parent p:nth-child(2){
margin-top:6.67vh;
margin-bottom:0;
font-family: "ProximaNova-Semibold";
color: #000000;
font-size:19.88px;
}

.suignite-forqueries-parent p:nth-child(3){
color:#4F4F4F;
margin-bottom:0;
font-family: "Proxima-nova-regular";
font-size:19.88px;
}

.suignite-forqueries-parent p:nth-child(4){
color:#4F4F4F;
font-family: "Proxima-nova-regular";
font-size:19.88px;
margin-bottom:0;
}
.suignite-parent-child2-applyparent{
    height: 15.18vh;
    background: #F49D35;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 10vh;
}
.suignite-parent-child2-applyparent-heading{
color: #FFFFFF;
font-size: 22.72px;
font-family: "Proxima-nova-regular";
}
#suignite-parent-child2-applyparent-button{
    color: #FFFFFF;
    font-family: "ProximaNova-Semibold";
    font-size: 11.36px;
    border: 1px solid;
    background: transparent;
    margin-top: 1.85vh;

}
.back-jaipur-second{
    background-position: center;
    background-size: cover;
}
@media (min-width: 1820px) and (max-width: 2560px){

.suignite-head1{
font-size:32px;
}

.suignite-topic-heading {
font-size:26px;
}
.suignite-topic-para {
    
    font-size: 24px;
}

.panelists-name {
    font-size: 22px;
    color: #4F4F4F;
    margin-top: 2.22vh;
}
.panelists-company {
    font-size: 16px;
    color: #B2B2B2;
}
.suignite-guestlecture-child2 p:nth-child(1) {
    font-family: "ProximaNova-Semibold";
    font-size: 26px;
    color: #000000;
    margin-bottom: 0;
}

.suignite-guestlecture-child2 p:nth-child(2) {
    font-family: "Proxima-nova-regular";
    font-size: 20px;
    color: #4F4F4F;
    margin-top: 1.11vh;
    margin-bottom: 0;
}

.suignite-guestlecture-child2 p:nth-child(3) {
    font-family: "Proxima-nova-regular";
    font-size: 24px;
    color: #000000;
    margin-top: 2.31vh;
    margin-bottom: 0;
}

.suignite-guestlecture-child2 p:nth-child(4) {
    font-family: "Proxima-nova-regular";
    margin-top: 1.11vh;
    font-size: 20px;
    color: #4F4F4F;
    margin-bottom: 0;
}

.suignite-casestudy-parent p:nth-child(even) {
    font-size: 24px;
    font-family: "Proxima-nova-regular";
    margin-bottom: 0;
    color: #4F4F4F;
}

.suignite-casestudy-parent p:nth-child(odd) {
    font-size: 26px;
    font-family: "ProximaNova-Semibold";
    margin-bottom: 0;
    color: #000000;
    margin-top: 5.185vh;
}
.suignite-iplauctionfrenzy-parent p:nth-child(even){
font-size:24px;
font-family: "Proxima-nova-regular";
margin-bottom:0;
color:#4F4F4F;
margin-top:2.96vh;
}
.suignite-iplauctionfrenzy-parent p:nth-child(odd){
font-size:26px;
font-family: "ProximaNova-Semibold";
margin-bottom:0;
color:#000000;
margin-top:5.185vh;
}
.suignite-forqueries-parent p:nth-child(2){

font-size:24px;
}

.suignite-forqueries-parent p:nth-child(3){

font-size:24px;
}

.suignite-forqueries-parent p:nth-child(4){

font-size:24px;

}
.suignite-parent-child1-inactive{
font-size:20px;
}
.suignite-parent-child1-active{
font-size:20px;
}
.suignite-parent p:nth-child(2) {
    font-family: "ProximaNova-Bold";
    font-size: 44px;
    margin-top: 3.79vh;
    margin-bottom: 0;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-align: center;
}
.suignite-parent p:nth-child(3) {
    font-family: "ProximaNova-Light";
    font-size: 24px;
    margin-top: 1.10vh;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    color: #FFFFFF;
    text-align: center;
}
.suignite-parent p:nth-child(4) {
    font-family: "Proxima-nova-regular";
    font-size: 26px;
    margin-top: 4.99vh;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}
#suignite-parent-child2-applyparent-button{
font-size: 12px;
}
.suignite-parent-child2-applyparent-heading{
font-size: 28px;
}
}

@media (max-width: 900px){
    .suignite-parent-child1-inactive{
        padding: 0px 50px 0px 0px !important;
    }
    .suignite-parent-child1-active{
        padding: 0px 50px 0px 0px !important;
    }
    .suignite-parent-child2-applyparent-heading{
        font-size: 20px;
    }
    .suignite-panelists-img-parent {
        display: flex;
        flex-direction: column;
        margin-top: 5.185vh;
    }
    .suignite-parent-childparent {
        display: flex;
        flex-direction: column;
    }
    .suignite-parent-child2 {
        width: 100%;
        padding-left: 9%;
        padding-right: 9%;
    }
    .suignite-casestudy-parent p:nth-child(even){
        font-size: 16px;
        color:#242424;
    }
    .suignite-casestudy-parent p:nth-child(odd){
        font-size: 16px;
    }
    .suignite-head1{
        font-size: 18px;
    }
    .suignite-iplauctionfrenzy-parent p:nth-child(even){
        font-size: 16px;
        color:#242424;
    }
    .suignite-iplauctionfrenzy-parent p:nth-child(odd){
        font-size: 16px;
    }
    .suignite-topic-heading{
        font-size: 16px;
    }
    .suignite-topic-para{
        font-size: 16px;
    }
    .suignite-panelists-img-child{
        align-self: center;
    }
    .suignite-panelists-img-parent {
        display: flex;
        flex-direction: column;
        margin-top: 5.185vh;
        text-align: center;
    }
    .suignite-parent-child1 {
        /* height: 39.81vh; */
        height: 25vh;
        padding-top: 12.31vh;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-right: 3.75%;
        /* text-align: right; */
        width: 100%;
        display: flex;
        position: unset;    
    }
    .suignite-parent-child2-img {
        height: 10vh;
    }
    .suignite-guestlecture-child2 p:nth-child(1){
        font-size: 16px;
    }
    .suignite-guestlecture-child2 p:nth-child(2){
        font-size: 12px;
        margin-top: 0;
    }
    .suignite-guestlecture-child2 p:nth-child(3){
    font-size: 14px;
    margin-top: 1.31vh;

    }
    .suignite-guestlecture-child2 p:nth-child(4){
        font-size: 14px;
        line-height: 15px;
        margin-top: 0.11vh;
    }
    .suignite-guestlecture-child1 {
        height: 16.56vh;
        width: 16.56vh;
    }
    .suignite-parent p:nth-child(2){
        font-size: 24px;

    }
    .suignite-parent p:nth-child(3){
        font-size: 14px;
    }
    .suignite-parent p:nth-child(4){
        font-size: 16px;
    }
    .suignite-parent {
       
        padding: 3.24vh 10%;
        width: 100%;
    }
    .suignite-casestudy-parent {
        padding-top: 7.22vh;
        padding-bottom: 7.22vh;
    }
    .suignite-iplauctionfrenzy-parent {
        padding-top: 7.22vh;
        padding-bottom: 7.22vh;
        border-bottom: 1px solid #C4C4C4;
    }
    .suignite-forqueries-parent {
        padding-top: 7.22vh;
        padding-bottom: 7.22vh;
        border-bottom: 1px solid #C4C4C4;
    }
    .suignite-parent-child2-panel {
        padding-top: 17.40vh;
        padding-bottom: 7.22vh;
        border-bottom: 1px solid #C4C4C4;
    }
   
}

