.panel-format {
  padding: 0;
  display: block;
  background: #030d0f;
}

@media (max-width: 1200px) {
  .panel-format {
    padding: 0;
  }
}

.panel-format .heading {
  margin-bottom: 5%;
  position: relative;
}
.panel-format .heading .heading-background-image {
  width: 100%;
}
.panel-format .heading .heading-content {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Poppins';
  font-size: 2rem;
  line-height: 3rem;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  top: 20%;
}
@media (max-width: 1200px) {
  .panel-format .heading .heading-content {
    font-size: 1.5rem;
  }
}
.panel-format div {
  /* padding-top: 4.5rem; */
  font-family: 'Proxima-nova-regular';
}

@media (max-width: 1200px) {
  .panel-format div {
    /* padding-top: 1.5rem; */
  }
}

.panel-format div p {
  line-height: 2.5625rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  font-family: 'Poppins';
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1200px) {
  .panel-format div p {
    line-height: 1.3125rem;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.panel-format div p span {
  font-weight: bold;
}

.content {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1200px) {
  .content {
    font-size: 1.5rem;
  }
}

.panel-container {
  padding: 10rem 17% 0 17%;
  display: block;
  background: #030d0f;
}

.panel-list-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.panel-list-container p {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Poppins';
  font-size: 1.5rem;
  line-height: 3rem;
  font-style: normal;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .panel-list-container p {
    font-size: 1.5rem;
  }
}

.topic {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

.panel-list-card {
  width: 15rem;
}

.panel-list-card img {
  width: 80%;
  padding: 0 auto;
  margin: 0 0 10% 0;
}

.panel-list-card-content {
  font-size: 1.5rem;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.6);
}

.panel-list-card-subheading {
  color: rgba(255, 255, 255, 0.6);
  line-height: 3rem;
  font-size: 1rem;
}
