.new-footer-container {
  display: flex;
  background-color: #010c0f;
  padding: 5rem;
  flex-wrap: wrap;
  .width-30 {
    width: 30%;
  }
  .width-40 {
    width: 40%;
  }
  .new-footer-container-child {
    padding: 1rem;
    .new-footer-form {
      width: 75%;
      margin: auto;
      .new-footer-form-heading {
        color: #dfe0e1;
        font-weight: 800;
        font-size: 1.6rem;
        letter-spacing: 1.3px;
      }
      .new-form-error {
        margin-top: 1rem;
        color: red;
        font-size: 1rem;
      }
      .new-form-success {
        margin-top: 1rem;
        color: green;
        font-size: 1rem;
      }
      .new-footer-form-input-container {
        width: 100%;
        margin-top: 1.5rem;
        .new-footer-form-field {
          padding: 0.5rem;
          outline: none;
          background: transparent;
          margin-top: 1rem;
          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          color: rgba(255, 255, 255, 0.6);
          border: 1px solid rgba(255, 255, 255, 0.6);
          border-radius: 4px;
        }
        .textarea-field {
          width: 100%;
        }
      }
      .new-form-submit-button {
        cursor: pointer;
        margin: 1rem 0;
        border-radius: 2px;
        display: flex;
        font-family: Poppins;
        font-size: 1rem;
        justify-content: space-around;
        background-color: #09c9c3;
        color: #ffffff;
        border: 0;
        font-weight: bold;
        padding: 0.5rem 2rem;
      }
    }
    .new-footer-section-ecell-logo {
      background-image: url('../../assets/footer-logo.svg');
      height: 100px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .new-footer-section-esummit-logo {
      background-image: url('../../assets/esummit-logo.svg');
      height: 100px;
      background-repeat: no-repeat;
      background-position: 0;
    }
    .new-footer-section-contact-container {
      .new-footer-section-contact-heading {
        margin-top: 1rem;
        font-weight: bold;
        color: #09c9c3;
        margin: 1rem 0 0 0;
        justify-content: space-between;
        font-size: 1.4rem;
        line-height: 2.4rem;
        text-align: left;
        width: fit-content;
      }
      .logo-container {
        display: flex;
        width: 85%;
        flex-wrap: wrap;
      }
      .new-footer-section-contact-subheading {
        font-weight: normal;
        margin-top: 1rem;
        color: #dfe0e1;
        font-size: 1.2rem;
        word-wrap: break-word;
        .new-footer-section-contact-link {
          margin-right: 2rem;
          margin-top: 0.5rem;
          .new-footer-section-contact-logo {
            height: 1.75rem;
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.padding-1rem {
  padding: 1rem;
}
.padding-left-3rem {
  padding: 1rem 0 0 3rem;
}

@media only screen and (max-width: 768px) {
  .new-footer-container {
    flex-direction: column;
    padding: 14%;
    .width-30 {
      width: 100%;
    }
    .width-40 {
      width: 100%;
    }
    .new-footer-container-child {
      margin-top: 2rem;
      padding: 0;
      .new-footer-section-ecell-logo {
        background-position: center;
      }
      .new-footer-section-esummit-logo {
        background-position: center;
      }
      .new-footer-form {
        .new-footer-form-input-container {
          width: 100%;
        }
      }
    }
  }

  .padding-left-3rem {
    padding: 1rem 0 0 0;
  }
}

@media only screen and (min-width: 1400px) {
  .new-footer-container {
    padding: 10.5rem;
    .new-footer-container-child {
      .new-footer-section-contact-container {
        .new-footer-section-contact-heading {
          font-size: 1.6rem;
        }
        .new-footer-section-contact-subheading {
          font-size: 1.4rem;
        }
      }
    }
  }
}
