.caleaderboard-parent{
    color: black;
    position: absolute;
    top: 0;
    left: 18%;
    width: 82%;
    min-height: 100vh;
padding-bottom: 2vh;
background-color: #F7F8F9;


}
.caleader-line1 {
    flex-basis: 65vw;
    height: 0.3vh;
    background-color: #E0E0E0;
    /* position: absolute; */
    margin-top: -1.9vh;
    width: 90%;
    margin-left: 6vw;
}
.caleader-heading{

    margin-top: 3.33vh;
    margin-left: 2.24%;
    color: rgba(130, 130, 130, 0.93);
    font-size:14.22px;
    font-family:"ProximaNova-Semibold" !important; 
}

.caleader-board-parent{

    margin-top: 5.92vh;
    background: #fff;
    width: 95.52%;
    height: 100vh;
    margin-left: 2.24%;
    padding: 5.18vh 2vw;
}

table#ca01{

    width: 100%;
   
 

}

table#ca01 tr{
    text-align: center;
    border-bottom: 2px solid rgba(223, 223, 223, 0.59);
}

table#ca01 td{

    padding-bottom: 2.60vh;
 
    padding-top: 2.60vh;
    color: #000000;
    font-size: 14.2px;
    font-family:"ProximaNova-Semibold" !important; 
 
}
table#ca01 th{
    padding-bottom: 5vh;
    color: rgba(79, 79, 79, 0.44);
    font-size: 11.37px;
}
th#carank{

width: 8.23%;


}

th#caname{
    width: 40.32%;

}
th#cacollege{

    width: 40.98%;
}
#capointstd{
    color: #70BF48 !important;
}

#caranktd{

    color: #1A4D66 !important;
}


/* .caupdatecontainer{

    position: relative;
    height: 13.33vh;
    width: 2.77vw;
    box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.07);
    border-radius: 82px 0px 0px 101px;
    background: blue;

}




.caoverlay{

    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color:green;
    width: 0;
    height: 100%;
    transition: .5s ease;
}



.caupdatecontainer:hover .caoverlay {
    width: 100%;
    left: 0;
  } */


  .cacontainer-child{

    display: flex;
    flex-direction: row;
    width: 34.72vw;
    height: 40vh;
    transition: .5s ease;
    position: relative;
    right: 0vw;
   
    
  }


  .caupdatecontainer{

    margin-top: 13.33vh;
    height: 13.33vh;
    width: 2.77vw;
    box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.07);
    border-radius: 82px 0px 0px 101px;
    background: #007CB9;
  }

  .caoverlay{

    height: 40vh;
    background:#007CB9;
    width: 34.72vw;
    overflow: scroll;
    padding: 7.03vh;
    color:#fff;
    font-size: 12px;

  } 

  .cacontainer{
    position: fixed;
    top: 27vh;
    right: -32.2vw;
  }

  .cacontainer:hover .cacontainer-child{
    right: 32vw;
  } 

  .ca{
        transform: rotate(-90deg);
        transform-origin: right, top;
        -ms-transform: rotate(-90deg);
        -ms-transform-origin:right, top;
        -webkit-transform: rotate(-90deg);
        -webkit-transform-origin:right, top;
     
        color:#fff;
        margin-top: 8vh;
        margin-left: 1vw;
  }

#caranktd{
border-right:1px solid #DDDDDD;
}
#canametd{
border-right:1px solid #DDDDDD;
}

#cacollegenametd{

border-right:1px solid #DDDDDD;
}




@media (min-width: 1820px) and (max-width: 2560px){



table#ca01 th{
    padding-bottom: 5vh;
    color: rgba(79, 79, 79, 0.44);
    font-size: 16px;
}

.caleader-heading{

    margin-top: 3.33vh;
    margin-left: 2.24%;
    color: rgba(130, 130, 130, 0.93);
    font-size:20px;
}
table#ca01 td{

    padding-bottom: 2.60vh;
    text-transform: lowercase;

    padding-top: 2.60vh;
    color: #000000;
    font-size: 20px;
    font-family:"ProximaNova-Semibold" !important; 
 
}
table#ca01 td::first-letter{
    text-transform: uppercase;
}
}
@media only screen and (min-width: 900px){
.caleader-board-mobileparent{
display:none;
}

}

@media only screen and (max-width: 900px){
.caleaderboard-parent {
    color: black;
    position: relative;
    top: 0;
    left:0;
    width:100%;
    min-height: 100vh;
    padding-bottom: 2vh;
    background-color: #F7F8F9;
}

.caleader-heading {
    padding-top: 1.84rem;
    margin-top:0;
}
table#ca01 th{
font-size:10px;
font-family:"ProximaNova-Semibold" !important; 
}

table#ca01 td{
font-size:16px;
font-family:"ProximaNova-Regular" !important; 
}
table#ca01 th {
    padding-bottom: 1.14rem;
}
.caleader-board-mobileparent{
 padding: 1.028rem 2vw;
 margin-top: 2rem;
 background: #fff;
 width: 95.52%;
 height: fit-content;
 margin-left: 2.24%;
    

}

table#ca01 td{
padding-bottom: 0.8571rem;
    padding-top: 0.8571rem;
    padding-left: 12px;
    padding-right: 12px;
}

.caleader-line1{
    width: 78%;
    margin-left: 17vw;
    height: 2px;
    background-color: #E0E0E0;
    margin-top: -0.9rem;
}
.cacontainer{
display:none;}
th#caname{
width:73.44%;
}
th#carank {
    width: 12.77%;
}
#cacollegespan{
font-size:12px;
font-family: "ProximaNova-Light";
word-break:break-all;

}
.caleader-board-parent{
display:none;
}

}
