@font-face {
  font-family: "Poppins-regular";
  
  src:url('./fonts/Poppins-Regular.ttf')  format('truetype');
    
  }
@font-face {
  font-family: "Poppins-Medium";
  
  src:url('./fonts/Poppins-Medium.ttf')  format('truetype');
    
  }


@font-face {
  font-family: "Poppins-Bold";
  
  src:url('./fonts/Poppins-Bold.ttf')  format('truetype');
    
  }

@font-face {
  font-family: "Poppins-Semibold";
  
  src:url('./fonts/Poppins-SemiBold.ttf')  format('truetype');
    
  }




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
