@font-face {
  font-family: "Proxima-nova-regular";
  
  src:url('./fonts/ProximaNova-Regular.otf')  format('truetype');
    
  }
@font-face {
  font-family: "ProximaNova-Light";
  
  src:url('./fonts/ProximaNova-Light.otf')  format('truetype');
    
  }

@font-face {
  font-family: "Proxima-nova-regular";
  
  src:url('./fonts/ProximaNova-Regular.otf')  format('truetype');
    
  }
@font-face {
  font-family: "ProximaNova-Bold";
  
  src:url('./fonts/ProximaNova-Bold.otf')  format('truetype');
    
  }

@font-face {
  font-family: "ProximaNova-Semibold";
  
  src:url('./fonts/ProximaNova-Semibold.otf')  format('truetype');
    
  }




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
