.igniteHeaderSection {
  background: #030d0f;
  height: fit-content;
  padding: 10rem 17% 0 17%;
}
@media (max-width: 1200px) {
  .igniteHeaderSection {
    padding: 10rem 17% 0 17%;
    height: auto;
  }
}
.igniteHeaderSection p:nth-child(2) {
  font-size: 3rem;
  letter-spacing: 0.1em;
  padding-bottom: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.87);
  line-height: 4.5rem;
  font-weight: bold;
  margin-top: 2rem;
}
@media (max-width: 1200px) {
  .igniteHeaderSection p:nth-child(2) {
    font-size: 2rem;
    padding-bottom: calc(0px + 1vh);
    font-weight: bold;
    margin-top: 0.5rem;
  }
}

.igniteHeaderSection p:nth-child(3) {
  font-size: 1.75rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: calc(0px + 3vh);
}
@media (max-width: 1200px) {
  .igniteHeaderSection p:nth-child(3) {
    line-height: 0.9375rem;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    padding-bottom: 0;
    color: rgba(255, 255, 255, 0.6);
  }
}

/* .igniteHeaderSection p:nth-child(6) {
  font-size: 1.75rem;
  font-weight: 600;
  font-style: normal;
  color: rgba(255, 255, 255, 0.87);
  line-height: 2.625rem;
  padding-bottom: 4.62vh;
}
@media (max-width: 1200px) {
  .igniteHeaderSection p:nth-child(6) {
    line-height: 170%;
    font-size: 1rem;
    letter-spacing: 0.1em;
    padding-bottom: calc(15px + 3vh);
  }
} */

.igniteHeaderSection p:nth-child(5) {
  font-size: 1.625rem;
  letter-spacing: 0.1em;
  font-family: 'Poppins';
  color: rgba(255, 255, 255, 0.6);
  /* text-align: justify; */
  line-height: 170%;
}

@media (max-width: 1200px) {
  .igniteHeaderSection p:nth-child(5) {
    line-height: 1.125rem;
    font-size: 1rem;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.igniteHeaderSection p {
  text-align: left;
  font-family: 'Poppins';
}
.igniteHeaderSection .register a span {
  padding: 0.875rem 1rem;
  font-family: 'Poppins';
  border: 2px solid #359d9a;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #359d9a;
}
@media (max-width: 1200px) {
  .igniteHeaderSection .register a span {
    font-size: 0.8rem;
  }
}
