.guest-container {
  padding: 10rem 17%;
  display: block;
  background: #030d0f;
}

.guest-lecture-heading {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Poppins';
  font-size: 2rem;
  line-height: 3rem;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 7% 0;
}
@media (max-width: 1200px) {
	.guest-lecture-heading {
    	font-size: 1.5rem;
  	}
} 

@media (max-width: 1200px) {
  .guest-container {
    padding: 6rem ;
  }
}

.guest-list-card-content {
	width: 80%;
}


@media (max-width: 60px) {
	.guest-list-card-content {
		width: 100%;
	}
}

.guest-list-card-heading {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Poppins';
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: normal;
  font-weight: bold;
  margin: 1% 0;
}
@media (max-width: 1200px) {
  .panel-format .heading {
    font-size: 1rem;
  }
}

.guest-list-card-subheading {
  line-height: 2Srem;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-family: 'Poppins';
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1200px) {
  .guest-list-card-subheading {
    line-height: 1.3125rem;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.guest-list-card-subheading

.guest-format {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.guest-list-card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 5%;
}

.guest-list-card-image {
	width: 15rem;
}

@media (max-width: 1600px) {
	.guest-list-card-image {
		width: 10rem;
		height: 10rem;
	}
}

@media (max-width: 900px) {
	.guest-list-card-image {
		width: 7rem;
		height: 7rem;
	}
}

@media (max-width: 600px) {
	.guest-list-card-image {
		width: 15rem;
		height: 15rem;
	}
}

.guest-list-card-content {
	padding: 0 0 0 4%;
}



