.partners-head {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 30px;
}
.partner-parent{
  padding: 6rem 14%;
}
@media (max-width: 1200px) {
  .partners-head {
    font-size: 1.5rem;
  }
}
.partners-body {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  
  justify-content: space-evenly;

}
.each-partner {
  margin: 0px 60px;
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: center;
  z-index: 2;
  
  
}
.partner-logo-wrap {
  /* border: 2px solid rgba(255, 255, 255, 0.6); */
  box-sizing: border-box;
  border-radius: 4px;
  height: 180px;
  margin-bottom: 20px;
  margin-top: 20px;
  z-index: 3;
  
}
.partner-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
}
.partner-logo {
  
  height: 100%;
  z-index: 4;
  
}


@media (max-width: 700px)
{
  .partner-logo-wrap {
  
  height: 100px;
  }

  .partners-body{
    justify-content: space-evenly;
  }

}